<div class="">
  <h3>{{title}}</h3>
  <!--<form [formGroup]="transferFormGroup" novalidate (ngSubmit)="transfer(transferFormGroup.value)">-->
  <div class="credit-transfer">
    <h4>MSISDN No.</h4>
    <input type="number" pattern="[0-9\s]+" [(ngModel)]="msisdn" placeholder="Enter receivers MSISDN">
  </div>
  <!--<div class="price-range">-->
  <!--&lt;!&ndash;<div class="value-box">$ 00.00</div>&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="value-box-2">$ 50.55</div>&ndash;&gt;-->
  <!--&lt;!&ndash;<img src="assets/imgs/Credit_transfer.png" alt="price-range"/>&ndash;&gt;-->
  <!--<div class="clr"></div>-->
  <!--<input type="number" formControlName="transfer" [placeholder]="placeType" style="width: 120px">-->
  <!--<div class="transfer-btn-section">-->
  <!--<button class="transfer-btn" [disabled]="transferFormGroup.status.toLowerCase() === 'invalid'"-->
  <!--type="submit">Transfer-->
  <!--</button>-->
  <!--</div>-->
  <!--</div>-->
  <div class="price-range">
    <div class="value-box">{{mixCreditBalance}} {{transferUnit}}</div>
    <div class="value-box-2">{{maxCreditBalance }} {{transferUnit}}</div>
    <!--<img src="assets/imgs/Credit_transfer.png" alt="price-range"/>-->
    <div style="clear: both;">
      <nouislider [min]="mixCreditBalance" [max]="maxCreditBalance" [step]="0" [(ngModel)]="bar"
                  (ngModelChange)="onChange($event)"></nouislider>
    </div>
    <div class="clr"></div>
    <input type="number" name="Mobile number" placeholder="0" [(ngModel)]="transfer" (ngModelChange)="onChange($event)">
    <div class="transfer-btn-section">
      <button class="transfer-btn" type="button"
              (click)="transferItem(msisdn,transfer)" [disabled]="bar == 0 || msisdn == '' || msisdn == null ">
        Transfer
      </button>
    </div>
  </div>
  <!--</form>-->
</div>
