.confirmbutton {
  background-color: #0082f0;
  padding: 5px 10px 5px 10px;
  font-family: Arial,Helvetica,sans-serif;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer !important;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 20px;
}

.skipbutton {
  background-color: #767676;
  padding: 5px 10px 5px 10px;
  font-family: Arial,Helvetica,sans-serif;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer !important;
  margin-bottom: 20px;
  margin-top: 20px;
}
.productname {
  padding: 5px;
  color: #767676;
  margin-top: 5px;
  margin-left: 5px;
  font-size: 16px;
}

.container_section{
  margin-top: -56px;
  margin-bottom: 50px;
}

.pagination {
  width: 100%;
  float: left;
  margin-bottom: 20px;
  color: #0082f0;
  text-decoration: none;
}
.addonchunk{
  border: 1px solid #eaeaea;
    padding: 20px;
    height: auto;
    margin: 14px;
    float: left;
    cursor: pointer;
    box-shadow: 6px 6px 8px #eaeaea;
}
.addonchunk:hover{
  border: 1px solid#0082f0;
}
.addon-name {
  float: left;
  font-size: 18px;
  color: #767676;
  text-decoration: none;
}
.addon-price {
  float: right;
  font-size: 18px;
  color: #0082f0;
  text-decoration: none;
  padding-left: 30px;
}
