<div class="container_section">
    <div class="container_wrapper">
              <div class="container">
                  <div style="padding-top: 30px;"></div>

                <app-stepper step="3"></app-stepper>
                   <div class="pagination">
                     <div style="font-size:30px;">Select AddOns</div>
                     <div style="padding-left:765px;">
                     <button (click)="redirectTo('onboard/register')" [disabled]="isDisabled"  class="confirmbutton">Confirm</button>
                     <button (click)="redirectTo('onboard/register');skipAddOn()" class="skipbutton">Skip</button>
                     </div>
                   </div>


  <!-- <div id="accordion1" class="collapse show">
    <div class="accordion-2">
      <ng-container *ngIf="availableAddons && availableAddons.length > 0;else noavailableaddons">
        <ul>
          <li *ngFor="let item of availableAddons;let i = index" (click)="confirmAddAddon(i)">
            {{item.productName}} (${{item.price|valueFormatter:'price'}})
          </li>
        </ul>
        <button (click)="redirectTo('onboard/register')" class="confirmbutton">Confirm</button>
      </ng-container>
      <ng-template #noavailableaddons>
        <p>Addons not available</p>
      </ng-template>
    </div>

    <div class="clr"></div>
  </div> -->
                  <div style="width: 100%; float: left;">
                    <!-- <form [formGroup]="myGroup"> -->
                    <div *ngFor="let addons of availableAddons; let i = index">
                      <div (click)="confirmAddAddon(i)" >
                        <label class="addonchunk">
                            <a style="padding-left: 95%" data-toggle="tooltip" title="{{ addons.productDescription }}"><img src="assets/imgs/i.png" alt="png"></a>
                        <span class="addon-name">
                            {{ addons.productName }}
                          <span class="addon-price">
                            ${{ addons.price | valueFormatter:'price' }}
                          </span>
                        </span>
                        </label>
                      </div>
                    </div>
    <!-- Selected: <strong>{{ myGroup.get('myCategory').value }}</strong> -->
                    <!-- </form> -->
                  </div>
                  <div style="visibility: hidden">
                    <button (click)="redirectTo('onboard/register')"  class="confirmbutton">Confirm</button>
                  </div>
                  </div>
                
             
          
        </div>
      </div>

<section class="supportSec" id="supportSec" bgNavy>
    <div class="container">
      <div class="supportSecDes text-center">
        Do you have any questions?
        <br> We are happy to hear from you.
      </div>
      <div class="row supportSec_contact">
        <div class="col-sm-7">
          <div class="supportSec_item supportSec_mail">
            <a href="mailto:info@selfcaredigital" target="_top">info@selfcare</a>
          </div>
          <div class="supportSec_item supportSec_tel">+46 104 632 525</div>
        </div>
        <div class="col-sm-5">
          <div class="supportSec_item supportSec_locate">Locate us</div>
          <div class="supportSec_item supportSec_talk">Talk to us !</div>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer container-fluid navbar-light navbar-expand-sm">
    <div class="row">
      <div class="col-md-4">
        <span>&copy; Ericsson AB 2018</span>
      </div>
      <div class="col-md-8">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">Licence Agreement</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">Modern Slavery Statement</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">Cookies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">Legal</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>

