.creditCol{
  .creditCol_valueRow{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .creditCol_value{
    font-size: 40px;
    padding-right: 5px;
  }
  .creditCol_icon{
    min-width: 85px;
    display: flex;
    align-items: center;
  }
  .inner-icon{
    width:46px;
    margin-right: 10px;
  }
  .creditCol_circleIcon{
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: #fff;
    border: 1px solid #0199EF;
    border-radius: 50%;
    cursor: pointer;
  }
}

.carousel-item{
  h2{
    color: #fff;
  }
}

.container-bottom{
  padding-right: 78px;
}





.plansWrap{
  .plan-box-2{
    background-image: inherit;
    background-color: #fff;
    .planValue{
      display: block;
      margin: -5px -5px 0 auto;
      width: 80px;
      height: 60px;
      position: relative;
      border-radius: 0 0 0 100%;
      li{
        position: absolute;
        z-index: 1;
      }
      li:nth-child(1){
        left: 4px; top: 2px;
      }
      li:nth-child(2){
        left: 24px; top: 21px;
      }
      li:nth-child(3){
        right: 0; bottom: 4px;
      }
    }
  }
}

.plan-right{
  padding-left: 0;
}

.planValue{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 0 0;
  li{
    font-size: 16px;
    margin: 0 2px;
  }
  li a{
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: #fff;
    img{
      height: 16px;
      margin: 0;
    }
  }
}

.plan_dataValue{
  color: #545454;
  strong{
    font-size: 22px;
  }
  small{
    font-size: 12px;
  }
}
.plan_data{
  .plan_bgRight{
    background-color: #0199EF;
  }
  .plan_dataValue{
    strong{
      color: #0199EF;
    }
  }
}
.plan_minutes{
  .plan_bgRight{
    background-color: #F4BF01;
  }
  .plan_dataValue{
    strong{
      color: #F4BF01;
    }
  }
}
.plan_sms{
  .plan_bgRight{
    background-color: #E11200;
  }
  .plan_dataValue{
    strong{
      color: #E11200;
    }
  }
}


.commonModal_card{
  display: flex;
  height:100%;
  .bnk-left{
    text-align: left;
  }
}
.commonModal_buttons{
  display: block;
  text-align:  center;
}

.mode-right, .mode-menu{
  float: none;
  width: 90%;
  margin-top : 100px;
}

.paymentOptionTabWrap {
  text-align: left;
}
