<div class="container_section">
  <div class="container_wrapper">
    <div class="container_header">
      <div class="inner-wrapper">
        <div class="menu_bar">
          <h1>Welcome to Selfcare</h1>
          <ul>
            <li>
              <a routerLink="/dashboard/home">Home</a>
            </li>
          </ul>
        </div>
        <div class="login_person">
          <h2>{{username}}</h2>
          <h5>
            <img src="assets/imgs/online-icon.png" alt="online"/>{{msisdn}}
            <img src="assets/imgs/down-arrow.png" alt="arrow"/>
          </h5>
        </div>
        <div class="clr"></div>
      </div>
    </div>
    <div class="inner-wrapper">
      <div class="plans plansWrap row">

        <div class="col-md-6 col-xl-3 creditCol">
          <div class="plan-box">
            <h3>Credit Balance</h3>
            <div class="creditCol_valueRow">
              <div class="creditCol_value" [hidden] = "mainBalance?.unit === 0 || mainBalance?.unit === NaN ">
                ${{mainBalance?.unit|valueFormatter:'price'}}
                <!--<small>{{mainBalance.expiryDate|getLocalTime:'day'}}</small>-->
              </div>
              <div class="creditCol_value" *ngIf="mainBalance?.unit === 0">
                 Loading..
              </div>
              <div class="creditCol_icon">
                <div class="inner-icon">
                  <img data-toggle="modal" (click)="isNext = false;"  data-target="#addCredit" src="assets/imgs/icon-20.jpg" alt="img"/>
                </div>
                <div>
                  <a class="creditCol_circleIcon" data-toggle="modal" data-target="#creditTranser">
                    <img src="assets/imgs/icon-11.png" alt="img"/>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xl-3 plan_data">
          <div (click)="makePlanboxActive('DATA')"
               [ngClass]="{'plan-box-selected': isDataPlanboxSelected}"
               class="plan-box-2">
            <div class="plan-left">
              <!--<img src="assets/imgs/glass-1.png" alt="img"/>-->
              <app-water-glass [provisioned]="provisionedData" [available]="data"></app-water-glass>
            </div>
            <div class="plan-right">
              <ul class="planValue plan_bgRight">
                <li>
                  <a data-toggle="modal" data-target="#addData" (click)="currentAddForm = 'data'">
                    <img src="assets/imgs/icon-12.png" alt="img"/>
                  </a>
                </li>
                <li>
                  <a data-toggle="modal" data-target="#dataTransfer" (click)="currentTransferForm = 'data'">
                    <img src="assets/imgs/icon-11.png" alt="img"/>
                  </a>
                </li>
                <li>
                  <a data-toggle="modal" data-target="#dataShare" (click)="currentShareForm = 'data'">
                    <img src="assets/imgs/icon-13.png" alt="img"/>
                  </a>
                </li>
              </ul>
              <div class="plan_dataValue">
                <strong [hidden] = "data == NaN">{{(data < 0 || data >= 107373108658176 ? 'unlimited' : (data|valueFormatter:'data') )}}</strong>
                <strong [hidden] = "data != NaN">Loading</strong>
                <small> 
                  <ng-container *ngIf="provisionedData>=0">
                    / {{provisionedData|valueFormatter:'data'}}
                  </ng-container>
                  <ng-container *ngIf="provisionedData < 0">
                    Unlimited
                  </ng-container>
                  GB
                </small>
              </div>
              <div class="plan_dataLeft">Data left</div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-3 plan_minutes">
          <div (click)="makePlanboxActive('MINUTES')"
               [ngClass]="{'plan-box-selected': isMinutesPlanboxSelected}"
               class="plan-box-2 plan-box-3">
            <div class="plan-left">
              <!--<img src="assets/imgs/glass-2.png" alt="img"/>-->
              <app-water-glass [provisioned]="provisionedVoice" [available]="voice"></app-water-glass>
            </div>
            <div class="plan-right">
              <ul class="planValue plan_bgRight">
                <li>
                  <a data-toggle="modal" data-target="#addData" (click)="currentAddForm = 'voice'">
                    <img src="assets/imgs/icon-12.png" alt="img"/>
                  </a>
                </li>
                <li>
                  <a data-toggle="modal" data-target="#dataTransfer" (click)="currentTransferForm = 'voice'">
                    <img src="assets/imgs/icon-11.png" alt="img"/>
                  </a>
                </li>
                <li>
                  <a data-toggle="modal" data-target="#targetdisbled" (click)="currentShareForm = 'voice'">
                    <img src="assets/imgs/icon-13.png" alt="img"/>
                  </a>
                </li>
              </ul>
              <div class="plan_dataValue">
                <strong [hidden] = "data == NaN">{{voice < 0 || voice >= 5999940 ? "Unlimited" : (voice|valueFormatter:'voice')}}</strong>
                <strong [hidden] = "data != NaN">Loading</strong>
                <small> 
                  <ng-container *ngIf="provisionedVoice>=0">
                    / {{provisionedVoice|valueFormatter:'voice'}}
                  </ng-container>
                  <ng-container *ngIf="provisionedVoice < 0">
                    Unlimited
                  </ng-container>
                  <!--{{provisionedVoice|valueFormatter:'voice'}}-->
                </small>
              </div>
              <div class="plan_dataLeft">Minutes left</div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xl-3 plan_sms">
          <div (click)="makePlanboxActive('SMS')"
               [ngClass]="{'plan-box-selected': isSmsPlanboxSelected}"
               class="plan-box-2 plan-box-4">
            <div class="plan-left">
              <!--<img src="assets/imgs/glass-2.png" alt="img"/>-->
              <app-water-glass [provisioned]="provisionedSms" [available]="sms"></app-water-glass>
            </div>
            <div class="plan-right">
              <ul class="planValue plan_bgRight">
                <li>
                  <a data-toggle="modal" data-target="#addData" (click)="currentAddForm = 'sms'">
                    <img src="assets/imgs/icon-12.png" alt="img"/>
                  </a>
                </li>
                <li>
                  <a data-toggle="modal" data-target="#dataTransfer" (click)="currentTransferForm = 'sms'">
                    <img src="assets/imgs/icon-11.png" alt="img"/>
                  </a>
                </li>
                <li>
                  <a data-toggle="modal" data-target="#targetdisbled" (click)="currentShareForm = 'sms'">
                    <img src="assets/imgs/icon-13.png" alt="img"/>
                  </a>
                </li>
              </ul>
              <div class="plan_dataValue">
                <strong [hidden] = "data == NaN">{{sms < 0 || sms >= 99999 ? "Unlimited" : (sms)}}</strong>
                <strong [hidden] = "data != NaN">Loading</strong>
                <small> 
                  <ng-container *ngIf="provisionedSms>=0">
                    / {{provisionedSms}}
                  </ng-container>
                  <ng-container *ngIf="provisionedSms < 0">
                    / Unlimited
                  </ng-container>
                  <!--{{provisionedSms}}-->
                </small>
              </div>
              <div class="plan_dataLeft">SMS left</div>
            </div>
          </div>
        </div>
      </div>
      <div class="current-usage">
        <h3>Current Usage</h3>
        <div class="card accordion rounded-0 border-0">
          <div class="card-body">
            <canvas #chartCanvas1 [hidden]="selectedQuota !== 'DATA'">{{ chart }}</canvas>
            <canvas #chartCanvas2 [hidden]="selectedQuota !== 'MINUTES'">{{ chart }}</canvas>
            <canvas #chartCanvas3 [hidden]="selectedQuota !== 'SMS'">{{ chart }}</canvas>
          </div>
        </div>
      </div>
      <div class="add-ons">
        <h3>Add Ons</h3>
        <ng-container *ngIf="addOns && addOns.length > 0">
          <div class="card accordion rounded-0 border-0">
            <div class="card-body">
              <ul class="list-group rounded-0 border-0">
                <li
                  *ngFor="let item of addOns;let i = index"
                  class="list-group-item selected" (click)="confirmRemoveAddon(i)">
                  {{item.productName}}
                </li>
              </ul>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="addOns && addOns.length === 0">
          <p>You have not subscribed any addon yet. Please go to my plans to buy addons.</p>
        </ng-container>


      </div>
      <div class="clr"></div>
    </div>
    <div class="container-bottom ">
      <div class="row">
        <div class="bootom-left col-md-6">
          <div id="banner_slider" class="carousel slide" data-ride="carousel" data-interval="2000">
            <!-- The slideshow -->
            <div class="carousel-inner">
              <div *ngFor="let item of upcommingOffer;let first=first;" class="carousel-item"
                   [ngClass]="{'active':first}">
                <h2>{{item.productName}}</h2>
                <div class="slide_body">
                  <h3>
                    <span>{{item.productDescription}}</span>
                  </h3>
                  <button>Buy Now</button>
                </div>
              </div>
            </div>
            <!-- Left and right controls -->
            <!--<a class="carousel-control-prev" href="#banner_slider" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#banner_slider" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>-->
          </div>
        </div>
        <div class="bootom-right col-md-6 text-right">
          <img src="assets/imgs/bottom-right-img.png" alt="img"/>
        </div>
        <div class="clr"></div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addCredit" tabindex="-1" role="dialog" aria-labelledby="addCreditLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body popup-box">
        <button type="button" class="close" data-dismiss="modal" (click)="isNext = false;">&times;</button>

        <div class="">
          <h3>Add Credit</h3>
          <div class="credit_input"  *ngIf="!isNext">
            <!--<h4>MSISDN No.</h4>-->
            <!--<input type="text" name="Mobile number" placeholder="+46 123 123 123">-->
            <input type="number" name="Amount" placeholder="Enter Amount" [(ngModel)]="activeDataSet">
          </div>
          <div class="all-price"  *ngIf="!isNext">
            <div class="price-box">
              <h4>
                <a href="javascript:void(0)" (click)="setActive(10)">+ $ 10.00</a>
              </h4>
            </div>
            <div class="price-box">
              <h4>
                <a href="javascript:void(0)" (click)="setActive(20)">+ $ 20.00</a>
              </h4>
            </div>
            <div class="price-box">
              <h4>
                <a href="javascript:void(0)" (click)="setActive(50)">+ $ 50.00</a>
              </h4>
            </div>
            <div class="price-box">
              <h4>
                <a href="javascript:void(0)" (click)="setActive(100)">+ $ 100.00</a>
              </h4>
            </div>
            <div class="clr"></div>
          </div>

          <div *ngIf="isNext" class="commonModal_card">
            <div class="slect-mod">
              <div class="paymentOptionTabWrap row">
                <div class="col-sm-4">
                  <div class="mode-menu">
                    <ul class="nav nav-tabs" id="paymentOptionTab" role="tablist">
                      <li><a href="#" id="#debitCardTab" data-toggle="tab" role="tab" aria-controls="debitCard">Credit Balance</a></li>
                      <li><a class="active" href="#creditCard" id="creditCardTab" data-toggle="tab" role="tab" aria-controls="creditCard" aria-selected="true">Credit Card</a></li>
                      <li><a href="#debitCard" id="#debitCardTab" data-toggle="tab" role="tab" aria-controls="debitCard">Debit Card</a></li>
                      <li><a href="#" id="#debitCardTab" data-toggle="tab" role="tab" aria-controls="debitCard">Paypal</a></li>
                      <li><a href="#" id="#debitCardTab" data-toggle="tab" role="tab" aria-controls="debitCard">Voucher</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-8">
                <div class="row">
                  <div class="mode-right tab-content" id="paymentOptionTabContent">
                    <div id="creditCard" class="tab-pane fade show active" role="tabpanel" aria-labelledby="creditCardTab">
                    <app-payment-form></app-payment-form>
                    </div>
                    <div id="debitCard" class="tab-pane fade" role="tabpanel" aria-labelledby="debitCardTab">
                      <app-payment-form [cardType]="'Debit Card'"></app-payment-form>
                    </div>
                  </div>
                 </div>
                </div>
              </div>
            <div class="clr"></div>
            </div>
          </div>
          <div class="commonModal_buttons">
            <button type="button" class="price-add" *ngIf="isNext" (click)="isNext = false;">Back
            </button> &nbsp;
            <button data-dismiss="modal" class="price-add" (click)="addCreditBalance()"
                    [disabled]="activeDataSet == 0" *ngIf="isNext">Add
            </button>
            <button type="button" class="price-add" [disabled]="activeDataSet == 0" *ngIf="!isNext" (click)="isNext = true;">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="creditTranser" tabindex="-1" role="dialog" aria-labelledby="creditTranserLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body popup-box">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <!--<form [formGroup]="creditTransferForm" novalidate (onSubmit)="transferCreditBalance()">-->
        <h3>Credit Transfer</h3>
        <div class="credit-transfer">
          <h4>MSISDN No.</h4>
          <input type="number" name="MSISDN" placeholder="Enter receivers MSISDN" pattern="[0-9\s]+"
                 [(ngModel)]="benmsisdn">
        </div>
        <div class="price-range">
          <div class="value-box">$ {{mixCreditBalance}}</div>
          <div class="value-box-2">$ {{maxCreditBalance}}</div>
          <!--<img src="assets/imgs/Credit_transfer.png" alt="price-range"/>-->
          <div style="clear: both;">
            <nouislider [min]="mixCreditBalance" [max]="maxCreditBalance" [step]="0" [(ngModel)]="bar"
                        (ngModelChange)="onChange($event)"></nouislider>
          </div>
          <div class="clr"></div>
          <input type="number" name="Mobile number" placeholder="$00.00" [(ngModel)]="transfer" (ngModelChange)="onChange($event)" pattern="[0-9\s]+">
          <div class="transfer-btn-section">
            <button class="transfer-btn" type="button" (click)="transferCreditBalance()"
                    [disabled]="bar == 0 || benmsisdn == '' || benmsisdn == null ">Transfer
            </button>
          </div>
        </div>
        <!--</form>-->
      </div>
    </div>
  </div>
</div>
<!-- Modal -->

<div class="modal fade" id="addData" tabindex="-1" role="dialog" aria-labelledby="addDataLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body popup-box">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <app-common-add-modal [type]="currentAddForm"></app-common-add-modal>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="dataShare" tabindex="-1" role="dialog" aria-labelledby="addDataLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body popup-box">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <app-common-share-modal [type]="currentShareForm"></app-common-share-modal>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="dataTransfer" tabindex="-1" role="dialog" aria-labelledby="addDataLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body popup-box">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <app-common-transfer-modal [type]="currentTransferForm" ></app-common-transfer-modal>
      </div>
    </div>
  </div>
</div>
