<div class="container_section">
  <div class="">
    <div class="container_wrapper">
      <div class="container_header">
        <div class="inner-wrapper">
          <div class="menu_bar">
            <ul>
              <li><a routerLink="/dashboard/home">Home</a> ></li>
              <li class="active-2"><a href="#">Wallet & Payment</a></li>
            </ul>
          </div>
          <div class="login_person">
            <h2>{{username}}</h2>
            <h5><img src="assets/imgs/online-icon.png" alt="online"/>{{msisdn}}<img src="assets/imgs/down-arrow.png"
                                                                                    alt="arrow"/></h5>
            <!--<div class="noti-caption-2" id="test-2">
              <div class="noti-menu-2">
                <ul>
                  <li>Sundareswaran
                    <span>+46 123 123 124</span>
                  </li>
                  <li>Marco
                    <span>+46 123 123 124</span>
                  </li>
                  <li><a href="#">Manage Profile</a></li>
                </ul>
              </div>
            </div>-->
          </div>
          <div class="clr"></div>
        </div>
      </div>
      <div class="inner-wrapper">
        <div class="cred-bl">
          <div class="cred-bl-left">
            <h3>Credit Balance</h3>
            <div class="cred-bl-icon">
              <img src="assets/imgs/coin-wallet.png" alt="img"/>
            </div>
            <div class="cred-bl-value" [hidden] = "balance === 0">${{balance}}
              <!-- <small>55</small> -->
            </div>
            <div class="cred-bl-value" *ngIf="balance === 0" style="font-size : 50px;">
                Loading..
              </div>
            <div class="clr"></div>
          </div>
          <div class="cred-bl-right">
            <!-- <small>Transaction ID</small>
            123Selfcare321 -->
          </div>
          <div class="clr"></div>
        </div>
        <!-- <div class="amount-box-wrap" id="accordion">
          <div class="amount-box-header">
            <a data-toggle="collapse" href="#dataCollapse">
              <span>Items</span>
              <span>
                <i class="fa fa-plus"></i>
              </span>
            </a>
          </div>
          <div id="dataCollapse" class="amount-box-body collapse" data-parent="#accordion">
            <div class="amount-box">
              <div class="clr"></div>
              <table>
                <tr>
                  <td><span>Add on</span>10 GB Data</td>
                  <td><span>Validity</span>30 Days</td>
                  <td><span>Amount</span>$ 20.00</td>
                </tr>
              </table>
            </div>
            <div class="amount-box">
              <div class="clr"></div>
              <table>
                <tr>
                  <td><span>Romining</span>100 Mins</td>
                  <td><span>Validity</span>30 Days</td>
                  <td><span>Amount</span>$ 20.00</td>
                </tr>
              </table>
            </div>
            <div class="amount-box">
              <div class="clr"></div>
              <table>
                <tr>
                  <td><span>Credit</span>$ 10.00</td>
                  <td><span>Validity</span>10 Days</td>
                  <td><span>Amount</span>$ 10.00</td>
                </tr>
              </table>
            </div>
          </div>
        </div> -->
        <!-- <div class="pay-md">
          <div class="md-pay tableResponsive">
            <table>
              <tr>
                <td><span>Payment to be Made</span>$ 75.00</td>
                <td><img src="assets/imgs/subtraction-icon-2.png" alt="img"/></td>
                <td><span>Availabel Credit Balance</span>$ 50.55</td>
                <td><img src="assets/imgs/equal-icon-2.png" alt="img"/></td>
                <td><span>Select an Option to Pay</span>$ 24.45</td>
              </tr>
            </table>
            <div class="remaining-bl">
              <div class="ream-box">
                <span>Remaining Balance</span> $ 00.00
              </div>
            </div>
          </div>
        </div> -->
        <div class="slect-mod">
          <h4>Manage Method of Payment</h4>
          <div class="paymentOptionTabWrap row">
            <div class="mode-menu">
              <ul class="nav nav-tabs" id="paymentOptionTab" role="tablist">
                <li><a href="#" id="#debitCardTab" data-toggle="tab" role="tab" aria-controls="debitCard">Credit Balance</a></li>
                <li><a class="active" href="#creditCard" id="creditCardTab" data-toggle="tab" role="tab" aria-controls="creditCard" aria-selected="true">Credit Card</a></li>
                <li><a href="#debitCard" id="#debitCardTab" data-toggle="tab" role="tab" aria-controls="debitCard">Debit Card</a></li>
                <li><a href="#" id="#debitCardTab" data-toggle="tab" role="tab" aria-controls="debitCard">Paypal</a></li>
                <li><a href="#" id="#debitCardTab" data-toggle="tab" role="tab" aria-controls="debitCard">Voucher</a></li>
              </ul>
            </div>
            <div class="mode-right tab-content" id="paymentOptionTabContent">
              <div id="creditCard" class="tab-pane fade show active" role="tabpanel" aria-labelledby="creditCardTab">
                <div class="col-md-6">
                  <app-payment-form></app-payment-form>
                </div>
              </div>
              <div id="debitCard" class="tab-pane fade" role="tabpanel" aria-labelledby="debitCardTab">
                <div class="col-md-6">
                  <app-payment-form [cardType]="'Debit Card'"></app-payment-form>
                </div>
                <!--<div>
                  <h3>Credit Card</h3>
                  <div class="card-left">
                    <div class="bank-name">
                      <div class="bnk-left">
                        &lt;!&ndash;<input type="radio" value=""/>&ndash;&gt;
                        <label>Bank Name</label>
                      </div>
                      <div class="bnk-right">
                        &lt;!&ndash; <label>Remove</label>&ndash;&gt;
                      </div>
                      <div class="clr"></div>
                    </div>
                    <div class="card-no">
                      <img src="assets/imgs/visa.jpg" alt="img"/>
                      <h5>1233 XXXX XXXX 5467 </h5>
                      <div class="clr"></div>
                    </div>
                  </div>
                  <div class="card-left card-right">
                    <div class="bank-name">
                      <div class="bnk-left">
                        &lt;!&ndash; <input type="radio" value=""/>&ndash;&gt;
                        <label>Bank Name</label>
                      </div>
                      <div class="bnk-right">
                        &lt;!&ndash;<label>Remove</label>&ndash;&gt;
                      </div>
                      <div class="clr"></div>
                    </div>
                    <div class="card-no">
                      <img src="assets/imgs/master-card.jpg" alt="img"/>
                      <h5>1233 XXXX XXXX 5467 </h5>
                      <div class="clr"></div>
                    </div>
                  </div>
                  <div class="clr"></div>
                </div>-->
              </div>
            </div>
          </div>
          <div class="clr"></div>
        </div>
      </div>
    </div>
  </div>
</div>
