@mixin BoxShadow($property){
  box-shadow: $property;
  -moz-box-shadow: $property;
  -ms-box-shadow: $property;
}
%BoxShadowToReuse{
  @include BoxShadow(1px 1px 14px -4px rgba(0, 0, 0, 0.45));
}

.mode-menu{
  border: 1px solid #efefef;
  border-top:0;
  border-left: 0;
  margin-top: 20px;
  .nav-tabs{
    flex-direction: column;
    border: 0;
    margin-top: 0;
    border-radius: 0;
    a{
      transition: all 0.2s ease-out;
    }
    li{
      a.active{
        border-right: 3px solid #004573;
        background: #fff !important;
      }
    }
  }
}

.paymentOptionTabWrap{
  display: flex;
  .tab-content{
    padding: 0 15px;
  }
  .mode-right{
    margin-top: 20px;
  }
}


.slect-mod h4{
  margin-top: 25px;
}


.amount-box-wrap{

}

.amount-box-header{
  padding: 16px 15px;
  background-color: #ecf8ff;
  border-radius: 4px;
  margin-bottom: 28px;
  @extend %BoxShadowToReuse;
  a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    font-size: 18px;
  }
  a[aria-expanded="true"]{
    .fa:before{
      content: "\f068";
    }
  }
}
