<div class="container_section">
  <div class="">
    <div class="container_wrapper">
      <div class="container_header">
        <div class="inner-wrapper">
          <div class="menu_bar">
            <ul>
              <li><a routerLink="/dashboard/profile">Home</a> > </li>
              <li class="active-2"><a href="#"> Roaming </a></li>

            </ul>
          </div>
          <div class="login_person">
            <h2>{{username}}</h2>
            <h5>
              <img src="assets/imgs/online-icon.png" alt="online"/>{{msisdn}}
              <img src="assets/imgs/down-arrow.png" alt="arrow"/>
            </h5>
          </div>
          <div class="clr"></div>
        </div>
      </div>

      <div class="inner-wrapper">
        <h2>Choose your international Roaming Pack.</h2>
        <div class="plan-section roaming">

          <div class="container">
            <div class="plansBoxes row">
              <div class="col-md-4">
                <div class="plansBoxInner" bgGray>
                  <div class="plansBoxHeader">
                    <h3 class="text-uppercase plansBoxTitle">EUROPE</h3>
                  </div>
                  <div class="plansBoxBody">
                    <div class="plansBoxPrice"> <span class="plansBoxPriceText">5.99 $</span> <span class="plansBoxPriceText2">/mo</span> </div>
                    <div class="list-group text-center">
                      <div class="list-group-item">Expiring in <span>30 Days</span></div>
                      <div class="list-group-item">1000 mins</div>
                      <div class="list-group-item">10 GB</div>
                      <div class="list-group-item"> 1000 SMS </div>
                      <div class="list-group-item">Music Unlimited</div>
                      <div class="list-group-item">Video Unlimited</div>
                    </div>
                  </div>
                  <div class="plansBoxFooter">
                    <button class="btn btn-block">Buy</button>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="plansBoxInner" bgGray>
                  <div class="plansBoxHeader">
                    <h3 class="text-uppercase plansBoxTitle">ASIA</h3>
                  </div>
                  <div class="plansBoxBody">
                    <div class="plansBoxPrice"> <span class="plansBoxPriceText">10.99 $</span> <span class="plansBoxPriceText2">/mo</span> </div>
                    <div class="list-group text-center">
                      <div class="list-group-item">Expiring in <span>45 Days</span></div>
                      <div class="list-group-item">1000 mins</div>
                      <div class="list-group-item">10 GB</div>
                      <div class="list-group-item"> 1000 SMS </div>
                      <div class="list-group-item">Music Unlimited</div>
                      <div class="list-group-item">Video Unlimited</div>
                    </div>
                  </div>
                  <div class="plansBoxFooter">
                    <button class="btn btn-block">Buy</button>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="plansBoxInner" bgGray>
                  <div class="plansBoxHeader">
                    <h3 class="text-uppercase plansBoxTitle">AMERICA</h3>
                  </div>
                  <div class="plansBoxBody">
                    <div class="plansBoxPrice"> <span class="plansBoxPriceText">10.99 $</span> <span class="plansBoxPriceText2">/mo</span> </div>
                    <div class="list-group text-center">
                      <div class="list-group-item">Expiring in <span>50 Days</span></div>
                      <div class="list-group-item">1000 mins</div>
                      <div class="list-group-item">10 GB</div>
                      <div class="list-group-item"> 1000 SMS </div>
                      <div class="list-group-item">Music Unlimited</div>
                      <div class="list-group-item">Video Unlimited</div>
                    </div>
                  </div>
                  <div class="plansBoxFooter">
                    <button class="btn btn-block">Buy</button>
                  </div>
                </div>
              </div>
              <div class="clr"></div>
            </div>
          </div>

        </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>
</div>

