<!-- Stepper -->
<div class="">
  <div class="stepwizard">
         <div class="stepwizard-row setup-panel">
             <div class="stepwizard-step col-xs-3">
                 <button [ngClass]="{'current-step': step == '1','button-sucess-new': step!='1'}" (click)="openRoute('onboard/plan')" class="btn btn-circle effect">1</button>
                 <p><small>Plan</small></p>
             </div>
             <div class="stepwizard-step col-xs-3">
                <button [ngClass]="{'current-step': step == '2', 'button-sucess-new': step!='2'}" (click)="openRoute('onboard/device')" class="btn btn-circle effect">2</button>
                <p><small>Device</small></p>
            </div>
             <div class="stepwizard-step col-xs-3">
                 <button [ngClass]="{'current-step': step == '3', 'button-sucess-new': enableAddOn && step!='3'}" [disabled]="!enableAddOn" (click)="openRoute('onboard/addOn')"  type="button" class="btn btn-circle effect">3</button>
                 <p><small>Add On</small></p>
             </div>
             <div class="stepwizard-step col-xs-3">
                 <button [ngClass]="{'current-step': step == '4', 'button-sucess-new': enableRegister && step!='4'}" [disabled]="!enableRegister" (click)="openRoute('onboard/register')" class="btn btn-circle effect">4</button>
                 <p><small>Register</small></p>
             </div>
             <div class="stepwizard-step col-xs-3">
              <button [ngClass]="{'current-step': step == '5', 'button-sucess-new': enableDelivery && step!='5'}" [disabled]="!enableDelivery" (click)="openRoute('onboard/delivery')" class="btn btn-circle effect">5</button>
              <p><small>Delivery</small></p>
             </div>
             <div class="stepwizard-step col-xs-3">
                <button [ngClass]="{'current-step': step == '6', 'button-sucess-new': enableCheckout && step!='6'}" [disabled]="!enableCheckout" (click)="openRoute('onboard/checkout')" class="btn btn-circle effect">6</button>
                <p><small>Checkout</small></p>
            </div>
         </div>
     </div>
 </div>
 