/* Stepper */
.stepwizard-step p {
    margin-top: 10px;
    color:#111218;
    font-size: 14px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}
.stepwizard-step button[disabled] {
    /*opacity: 1 !important;
    filter: alpha(opacity=100) !important;*/
}
.stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
    opacity:1 !important;
    color:#111218;
    background-color: #f1f5f8;
    font-size: 16px;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content:" ";
    width: 100%;
    height: 1px;
    background-color: #dadada;
    z-index: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
    width:17% !important;
}
.btn-circle {
  width: 40px;
  height: 40px;
  text-align: center;
  /* padding: 6px 0; */
  font-size: 12px;
  /* line-height: 1.428571429; */
  border-radius: 21px;
}

.current-step {
  box-shadow: 0 8px 6px -6px #000;
  background-color: #0082f0;
  color: #fff;
  font-size: 17px;

}
.button-sucess-new {
  box-shadow: 0 8px 6px -6px black;
  background-color: #d1d0ce;
  color: #ffffff;
  font-size: 16px;
  /* border-radius: 95px; */
}
/* Stepper ends */
