<div class="container_section">
  <div class="container_wrapper">
    <div class="container_header">
      <div class="inner-wrapper">
        <div class="menu_bar">
          <ul>
            <li>
              <a routerLink="/dashboard/home">Home</a> >
            </li>
            <li class="active">
              <a href="javascript:void(0)"> Usage Traffic & Costs </a>
            </li>
          </ul>
        </div>
        <div class="login_person">
          <h2>{{username}}</h2>
          <h5>
            <img src="assets/imgs/online-icon.png" alt="online"/>{{msisdn}}
            <img src="assets/imgs/down-arrow.png" alt="arrow"/>
          </h5>
        </div>
        <div class="clr"></div>
      </div>
    </div>
    <div class="tab-menu">
      <ul>
        <li [ngClass]="activeTab === 0?'active':''">
          <a href="javascript:void(0)" (click)="activeTab = 0">Data Usage</a>
        </li>
        <li [ngClass]="activeTab === 1?'active':''">
          <a href="javascript:void(0)" (click)="activeTab = 1">Mins Usage</a>
        </li>
        <li [ngClass]="activeTab === 2?'active':''">
          <a href="javascript:void(0)" (click)="activeTab = 2">SMS Usage</a>
        </li>
        <li [ngClass]="activeTab === 3?'active':''">
          <a href="javascript:void(0)" (click)="activeTab = 3">Credit History</a>
        </li>
      </ul>
    </div>
    <div class="inner-wrapper">
      <ng-container [ngSwitch]="activeTab">
        <ng-container *ngSwitchCase="0">
          <app-common-usagetraffic [type]="activeTab"></app-common-usagetraffic>
        </ng-container>
        <ng-container *ngSwitchCase="1">
          <app-common-usagetraffic [type]="activeTab"></app-common-usagetraffic>
        </ng-container>
        <ng-container *ngSwitchCase="2">
          <app-common-usagetraffic [type]="activeTab"></app-common-usagetraffic>
        </ng-container>
        <ng-container *ngSwitchCase="3">
          <app-common-usagetraffic [type]="activeTab"></app-common-usagetraffic>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
