.main{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 50px;

}
.plan-detail-lft{
    .plan-del-1{
      margin-right:30px;
    }
    .plan-del-2, .plan-del-3{
      padding: 0 0 0 20px;
      li{
        margin-bottom: 8px;
      }
    }
  }

  ul { list-style-type: none; }

  .container_section{
    margin-top: -56px;
    margin-bottom: 50px;
  }
  .payment {
    margin-bottom: 20px;
    font-size: 22px;
    color: #0082f0;
    text-decoration: none;
  }
  .selectoption {
    margin-bottom: 20px;
    font-size: 18px;
    color: #767676;
    text-decoration: none;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 7px;
  }
  .searchbox {
    width: 350px;
    padding: 7px;
    color: #767676;
    font-size: 16px;
    text-decoration: none;
    border: 1px solid #dfe0e1;
    border-radius: 5px;
    margin-right: 20px;
    //float: left;
    margin-bottom: 5px;
    margin-top: 10px;
  }
  .dropdown {
    width: 150px;
    padding: 7px;
    color: #767676;
    font-size: 16px;
    text-decoration: none;
    border: 1px solid #dfe0e1;
    border-radius: 5px;
    margin-right: 20px;
    float: left;
    margin-bottom: 5px;
    margin-top: 10px;
  }
  .dropdown1 {
    width: 150px;
    padding: 7px;
    color: #767676;
    font-size: 16px;
    text-decoration: none;
    border: 1px solid #dfe0e1;
    border-radius: 5px;
    margin-right: 20px;
    //float: left;
    margin-bottom: 5px;
    margin-top: 10px;
  }
  .savecard {
    font-size: 14px;
    color: #767676;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .debitcard {
    font-size: 18px;
    color: #242424;
    text-decoration: none;
    padding-top: 6px;
    border-bottom: 1px solid #dfe0e1;
    padding-bottom: 7px;
    cursor: pointer;
    width: 100%;
    padding-left: 50px;
  }
  .debitcard:hover{color: #0082f0 !important;
  //border: 0 !important;
  cursor: pointer;}

  .confirmbutton {
    background-color: #0082f0;
    padding: 5px 10px 5px 10px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer !important;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .pagination {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    font-size: 30px;
    color: #0082f0;
    text-decoration: none;
  }
  .plan {
    font-size: 16px;
    color: #242424;
    text-decoration: none;
  }
  .simtext {
    font-size: 16px;
    color: #242424;
    text-decoration: none;
  }
  .simtextprice {
    font-size: 16px;
    color: #242424;
    text-decoration: none;
  }
  .total {
    font-size: 26px;
    color: #181818;
    text-decoration: none;
    font-weight: bold;
    border-top: 1px solid #dfe0e1;
    padding-top: 10px;
  }
  .cartchunk {
    background-color:#f9fafa;
    padding:20px;
    border:1px solid #f3f3f3;
    border-radius:3px;
  }
  .detailsbig {
    color:#0082f0;
    font-size:18px;
    text-decoration:none;
    }
  .details {
    color: #767676;
    font-size: 14px;
    text-decoration: none;
    list-style-type: disc;
    }
    .details li{
      color: #767676;
    font-size: 14px;
    text-decoration: none;
    list-style-type: disc;
      }
  .total {
    color:#181818;
    font-size:22px;
    text-decoration:none;
    font-weight:bold;
    border-bottom:1px solid #cdcdcd;
    border-top:1px solid #cdcdcd;
    padding:8px 0px 8px 0px;
    text-align: center;
    }
