<div class="container_section">
    <div class="container_wrapper">
        <div class="container">
            <div style="padding-top: 30px;"></div>
                <app-stepper step="6"></app-stepper>


            <div class="container_header"></div>


            <div class="main" >
                <div class="pagination">Cart Details</div>
                <!-- <div class="plan">
                    {{showCustom || currentPlan?.productGroup || currentPlan?.productGroup}} Plan :  {{currentPlan?.price / 100 || customPrice / 100}} $/month
                </div>-->
                <!-- <div *ngIf="myplan=='custom'" class="plan">
                  Custom Plan :  {{customPrice|valueFormatter:'price'}} $/month
                </div>
                <ng-container *ngIf="device  && device.deviceName">
                    <div class="savecard">
                        {{device.deviceName}}  :  ${{device.price}}
                    </div>
                </ng-container>
                <ng-container *ngIf="addons && addons.length > 0">
                    <ul>
                      <li *ngFor="let item of addons;let i = index">
                        <span class="simtextprice">{{item.productName}}  : ${{item.price|valueFormatter:'price'}}</span>
                      </li>
                    </ul>
                </ng-container>
                <span class="simtext">
                    Sim Card : <span class="simtextprice">$10</span>
                </span>
                <br /><br />
                <span class="simtext">
                    Delivery Charge : <span class="simtextprice">Free</span>
                </span>
                <br /><br />
                Subtotal<span class="total">${{subtotalAmount}}</span> -->

                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td align="left" valign="top" class="cartchunk"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="25%" valign="top"><table width="100%" border="0" cellspacing="2" cellpadding="2">
                              <tr>
                                <td align="left" valign="top" class="detailsbig">Plan Details</td>
                              </tr>
                              <tr>
                                <td align="left" valign="top" class="details"><ul>
                                  <!-- <li>Standard Plan : $15/month
                                  </li>
                                  <li>Sim Card : $10</li>
                                  <li>Overage Rate : $10/100 MB</li>
                                  <li>Unlimited CanadaWide Sent &amp; Received Text, Picture &amp; Video Messages</li> -->
                                  <div *ngIf="myplan=='custom'">
                                    <li>
                                        Custom Plan :  {{customPrice|valueFormatter:'price'}} $/month
                                    </li>
                                    <li>
                                        <span> Product Description : </span>
                                        <span>
                                          Customized Combo of Voice, Data and SMS
                                        </span>
                                    </li>
                                  </div>
                                  <div *ngIf="myplan!=='custom'">
                                    <li>
                                      <span>
                                        {{showCustom || currentPlan?.productGroup || currentPlan?.productGroup}} Plan :  {{currentPlan?.price / 100 || customPrice / 100}} $/month
                                      </span>
                                      <span>
                                          {{currentPlan?.productDescription}}
                                      </span>  
                                      </li>
                                  </div>
                                  <div *ngIf="addons && addons.length > 0">
                                      <li *ngFor="let item of addons;let i = index">
                                        <span>AddOn : {{item.productName}}  : ${{item.price|valueFormatter:'price'}}</span>
                                      </li>
                                  </div>
                                </ul></td>
                              </tr>
                            </table></td>
                            <td width="10%">&nbsp;</td>
                            <td width="15%" *ngIf="isApple"><img alt="empty" src="assets/imgs/device/iPhone7-big.png"></td>
                            <td width="15%" *ngIf="!isApple"><img alt="empty" src="assets/imgs/device/samsung.png"></td>
                            <td width="25%" valign="top"><table width="100%" border="0" cellspacing="2" cellpadding="2">
                              <tr>
                                <td align="left" valign="top" class="detailsbig">Device Details</td>
                              </tr>
                              <tr>
                                <td align="left" valign="top" class="details"><ul>
                                    <div *ngIf="device  && device.deviceName">
                                        <li>
                                            {{device.deviceName}}  :  ${{device.price}}
                                        </li>
                                    </div>
                                  <li>One time fees</li>
                                </ul></td>
                              </tr>
                            </table></td>
                            <td width="5%">&nbsp;</td>
                            <td width="20%" valign="top"><table width="100%" border="0" cellspacing="2" cellpadding="2">
                              <tr>
                                <td align="left" valign="top" class="detailsbig">Other Details</td>
                              </tr>
                              <tr>
                                <td align="left" valign="top" class="details"><ul>
                                  <li>Sim Card : $10</li>
                                  <li>Delivery : Free</li>
                                </ul></td>
                              </tr>
                            </table></td>
                          </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td class="total">Total ${{subtotalAmount}}</td>
                      </tr>
                    </table></td>
                  </tr>
                </table>
              </div>

                <div class="pagination">
                  Payment
                </div>
                <!-- <form> -->
                <div class="form-group">
                <div>
                    <div class="selectoption">Select an option to pay</div>
                  </div>

                  <div>
                    <input ngbButton type="radio" [(ngModel)]="credit" value="middle" style="float: left; margin-top: 12px;">
                    <div style="padding-left: 8px;float: left;padding-top: 6px;"><img alt="empty" src="assets/imgs/ssave-icon.png"></div>
                    <div class="debitcard">Credit Card</div>
              </div>
                  <div style="padding-left: 20px;">
                      <input type="text" name="cardName" [(ngModel)]="cardName" placeholder="Name on card" required="" class="searchbox">
                  </div>
                  <div style="padding-left: 20px;">
                      <input type="text" name="cardNumber" [(ngModel)]="cardNumber" placeholder="4896 xxxx xxxx 2219" required="" class="searchbox">
                      <div style="padding-top: 2px;"><img alt="empty" src="assets/imgs/master-icon.png"></div>
                  </div>
                  <div style="padding-left: 20px;">
                      <!-- <select>
                          <option [ngValue]="0" disabled selected>Expiry month</option>
                          <option *ngFor="let month of months" value= {{month}}>
                            {{year}}
                          </option>
                        </select>&nbsp;&nbsp;
                      <select>
                          <option [ngValue]="0" disabled selected>Expiry year</option>
                          <option *ngFor="let year of years" value= {{year}}>
                            {{year}}
                          </option>
                        </select> -->
                        <!--<input type="dropdown" name="expiryMonth" [(ngModel)]="expiryMonth" placeholder="Exp Month" required="" class="dropdown">-->

                        <select class="dropdown">
                            <option value="Month">Exp Month</option>
                            <option value="January">January</option>
                            <option value="February">February</option>
                            <option value="February">March</option>
                          </select>

                        <!-- <input type="dropdown" name="expiryYear" [(ngModel)]="expiryYear" placeholder="Exp Year" required="" class="dropdown">-->
                        <select class="dropdown">
                            <option value="Exp">Exp Year</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                          </select>
                  </div>
                  <div>
                      <input type="text" name="cvv" [(ngModel)]="cvv" placeholder="CVV" required="" class="dropdown1">
                  </div>
  <!--<div class="simtext">OR</div>
                  <div style="margin-top: 10px;">
                      <img alt="empty" src="assets/imgs/ud.png">
                  </div>-->
                  <div class="savecard">
                  <input type="checkbox" [(ngModel)]="saveCard" /> Save this card for faster payment
                </div>

                 <div>
                  <input ngbButton type="radio" [(ngModel)]="debit" value="cashOnDelivery" style="float: left; margin-top: 12px;">
                  <div style="padding-left: 8px;float: left;padding-top: 6px;"><img alt="empty" src="assets/imgs/ssave-icon.png"></div>
                  <div class="debitcard">Debit Card</div>
            </div>


                 <div>
                  <input ngbButton type="radio" [(ngModel)]="net" value="middle2" style="float: left; margin-top: 12px;">
                  <div style="padding-left: 8px;float: left;padding-top: 6px;"><img alt="empty" src="assets/imgs/voucher.png"></div>
                  <div class="debitcard">Voucher</div>
            </div>


                  <div>
                        <input ngbButton type="radio" [(ngModel)]="payBy" value="middle3" style="float: left; margin-top: 12px;">
                        <div style="padding-left: 22px; padding-top: 7px;"><img src="assets/imgs/paypal-1.png" alt="dxp" title="Device"></div>
                  </div>
                  <div style="padding-bottom: 10px;">
                      <button class="confirmbutton" (click)="customerpay()">
                          Pay Now
                      </button>
                  </div>
              </div>

          <!-- </form> -->

        </div>
    </div>
    </div>
    <section class="supportSec" id="supportSec" bgNavy>
        <div class="container">
          <div class="supportSecDes text-center">
            Do you have any questions?
            <br> We are happy to hear from you.
          </div>
          <div class="row supportSec_contact">
            <div class="col-sm-7">
              <div class="supportSec_item supportSec_mail">
                <a href="mailto:info@selfcaredigital" target="_top">info@selfcare</a>
              </div>
              <div class="supportSec_item supportSec_tel">+46 104 632 525</div>
            </div>
            <div class="col-sm-5">
              <div class="supportSec_item supportSec_locate">Locate us</div>
              <div class="supportSec_item supportSec_talk">Talk to us !</div>
            </div>
          </div>
        </div>
      </section>

      <footer class="footer container-fluid navbar-light navbar-expand-sm">
        <div class="row">
          <div class="col-md-4">
            <span>&copy; Ericsson AB 2018</span>
          </div>
          <div class="col-md-8">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Licence Agreement</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Modern Slavery Statement</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Cookies</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Legal</a>
              </li>
            </ul>
          </div>
        </div>
    </footer>

