
.deals-card{
  margin-bottom: 16px;
  .card {
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    min-height: 100%;

    ul{
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
  .card-header, .card-footer{
    background-color: transparent;
  }
  .card-header{
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    color: #ffffff !important;
    background-color: #0082f0;
    font-size: 21px;
    text-align: left;
    padding-top: 50px;
    width: 250px;
  }
}
.price-big {
  //width: 30px;
  //height: 40px;
 // background-color: #0082f0;
  //padding: 5px 10px 5px 10px;
  //font-family: Arial,Helvetica,sans-serif;
  color: #0082f0 !important;
  font-size: 24px;
  text-decoration: none;
  font-weight: bold;
  //border: none;
 // border-radius: 5px;
  //margin-right: 20px;
}
.boxchunk{
  position: relative;
    display: flex;
    /* flex-direction: column; */
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #d1d0ce;
    /* border-radius: 0.25rem; */
    padding: 20px;

    ul{
      list-style: none;
      padding: 0;
      margin: 0;
    }
}

.offer{
    flex: 1 1 auto;
    padding: 1.25rem;
    border-top: 1px solid #0082f0;
    border-bottom: 1px solid #0082f0;
    font-size: 15px;
    width: 200px;
    text-align: left;
    padding-top: 52px;}

  .price {flex: 1 1 auto;
    padding: 1.25rem;
    border-right: 1px solid #0082f0;
    border-top: 1px solid #0082f0;
    border-bottom: 1px solid #0082f0;
    font-size: 20px;}

  .buy {
    margin: 38px 0px 0px 0px;
    padding: 10px 30px;
    background: #058ace;
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;}
