<div class="container_section">
  <div class="container_wrapper">
    <div class="container_header">
      <div class="inner-wrapper">
        <div class="menu_bar">
          <ul>
            <li>
              <a routerLink="/dashboard/home">Home</a> >
            </li>
            <li class="active">
              <a href="javascript:void(0)"> Deals for You </a>
            </li>
          </ul>
        </div>
        <div class="login_person">
          <h2>{{username}}</h2>
          <h5>
            <img src="assets/imgs/online-icon.png" alt="online" />{{msisdn}}
            <img src="assets/imgs/down-arrow.png" alt="arrow" />
          </h5>
        </div>
        <div class="clr"></div>
      </div>
    </div>
    <div class="inner-wrapper">
      <h2>Deals</h2>
      <div class="row">
        <div class="col-md-6 text-center deals-card" *ngFor="let item of products">
          <div class="boxchunk">
            <h5 class="card-header">{{item.productName}}</h5>
            <div class="card-body offer">
              <ul>
                <li *ngFor="let desc  of item.productDescription.replace('\r\n').split('|')">
                  {{desc}}
                </li>
              </ul>
            </div>
            <!-- <div class="price-big py-xl-5">Price: ${{item.price|valueFormatter:'price'}}<br /> -->
            <div class="py-xl-5 price">Price: ${{item.price|valueFormatter:'price'}}<br />
              <button type="button" class="buy" data-toggle="modal" data-target="#buyDeal" (click)="isNext = true; productId = item.productId">Buy
              </button>
            </div>
            <div class="modal fade" id="buyDeal" tabindex="-1" role="dialog" aria-labelledby="buyDealLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-body popup-box">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3>{{title}}</h3>
                    <div class="all-price" style="margin: 110px auto 0px">
                      <div class="add-data-bx" *ngIf="!isNext">
                        <div class="price-box " *ngFor="let item of addOnsDataSets;let si = index;" [ngClass]="item?.isSelected?'priceBoxActive':''"
                          (click)="setActive(si)">
                          <h4 *ngIf="type == 'sms'">
                            <a href="javascript:void(0)">{{item?.quota?.sms?.unit}}</a><span>$ {{item?.price |
                              valueFormatter : 'price'}} </span>
                          </h4>
                          <h4 *ngIf="type == 'data'"><a href="javascript:void(0)">{{item?.quota?.data?.unit |
                              valueFormatter : 'data'}}
                              GB</a><span>$ {{item?.price | valueFormatter : 'price'}} </span>
                          </h4>
                          <h4 *ngIf="type == 'voice'">
                            <a href="javascript:void(0)">{{item?.quota?.voice?.unit | valueFormatter : 'voice'}} Min</a><span>$
                              {{item?.price | valueFormatter : 'price'}} </span>
                          </h4>
                        </div>
                        <div class="clr"></div>
                      </div>

                      <div *ngIf="isNext" class="commonModal_card">
                        <div class="slect-mod">
                          <div class="paymentOptionTabWrap row">
                            <div class="col-sm-4">
                              <div class="mode-menu">
                                <ul class="nav nav-tabs" id="paymentOptionTab" role="tablist">
                                  <li><a href="#" id="#debitCardTab" data-toggle="tab" role="tab" aria-controls="debitCard">Credit
                                      Balance</a></li>
                                  <li><a class="active" href="#creditCard" id="creditCardTab" data-toggle="tab" role="tab"
                                      aria-controls="creditCard" aria-selected="true">Credit Card</a></li>
                                  <li><a href="#debitCard" id="#debitCardTab" data-toggle="tab" role="tab"
                                      aria-controls="debitCard">Debit Card</a></li>
                                  <li><a href="#" id="#debitCardTab" data-toggle="tab" role="tab" aria-controls="debitCard">Paypal</a></li>
                                  <li><a href="#" id="#debitCardTab" data-toggle="tab" role="tab" aria-controls="debitCard">Voucher</a></li>
                                </ul>
                              </div>
                            </div>
                            <div class="col-sm-8">
                              <div class="row">
                                <div class="mode-right tab-content" id="paymentOptionTabContent">
                                  <div id="creditCard" class="tab-pane fade show active" role="tabpanel"
                                    aria-labelledby="creditCardTab">
                                    <app-payment-form></app-payment-form>
                                  </div>
                                  <div id="debitCard" class="tab-pane fade" role="tabpanel" aria-labelledby="debitCardTab">
                                    <app-payment-form [cardType]="'Debit Card'"></app-payment-form>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="clr"></div>
                        </div>
                      </div>
                      <div class="commonModal_buttons">
                        <button type="button" class="price-add" (click)="buyDeal(productId)" style="margin-right:1%">Pay
                        </button>
                        <button type="button" class="price-add" (click)="cancelDeal()">Cancel </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
