#glass-container {
  background: rgba( 0, 0, 0, 0.10);
  margin: 38px auto 0;
  max-width: 80px;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-top: 1px solid #ccc;
  -webkit-border-radius: 10px 10px 20px 20px;
  -moz-border-radius:10px 10px 20px 20px;
  border-radius: 8px 8px 20px 20px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 0px;
  border-top: 0;
}
#glass {
  background: rgba( 255, 255, 255, 0.50);
  border: 1px solid #bbb;
  border-top: 1px solid #eee;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 100%;
  height: 110px;
  position: relative;
  overflow: hidden;
}
#water {
  background-image: url("assets/imgs/vectorpaint.svg");
  background-position: top right;
  position: absolute;
  bottom: 0px;
  width: 90px;
  height: 0px;
  -webkit-transition: all 3s ease-out;
  -moz-transition: all 3s ease-out;
  transition: all 3s ease-out;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
svg {
  fill: #039be4;
}
@keyframes waveanimation {
  0% {
    background-position-x: -100%;
  }
  100% {
    background-position-x: 100%;
  }
}

#glass #water {
  animation: waveanimation  2s linear infinite;
}
