<div class="">
  <h3>{{title}}</h3>
  <div class="">
    <form [formGroup]="shareFormGroup" novalidate>
      <div class="credit_input">
        <h4>MSISDN No.</h4>
        <input type="number" [(ngModel)]="selectedno" pattern="[0-9\s]+" name="Mobile number" placeholder="Enter MSISDN" formControlName="msisdn">
      </div>
      <div class="all-price-box">
        <div class="add-data-bx" *ngFor="let item of sharedUser">
          <div class="price-box-2">
            <div class="bx-cl" (click)="removeSharedAccount(item.msisdn)">
              <a href="javascript:void(0);"><img src="assets/imgs/icon-red.png" alt="img"/></a>
            </div>
            <h4>
              <a href="javascript:void(0)" (click) = "addsharedAccount(item.msisdn)">{{item.msisdn}}</a>
              <span><br>{{item.sharedQuota.data|valueFormatter:'mb-gb'}}GB</span>
            </h4>
          </div>
        </div>
        <div class="clr"></div>
      </div>
      <!--<div class="share-scale">-->
      <!--<div class="share-value">-->
      <!--0 Data-->
      <!--</div>-->
      <!--<div class="share-value-2">-->
      <!--16 GB-->
      <!--</div>-->
      <!--<div class="share-value-3">-->
      <!--50 GB-->
      <!--</div>-->
      <!--<div class="clr"></div>-->

      <!--<img src="assets/imgs/share-data.png" alt="img"/>-->

      <!--</div>-->
      <div class="shar-frm" style="margin-top: 10px;">
        <input type="number" formControlName="transfer" [placeholder]="placeType">
        <button class="transfer-btn" [disabled]="!shareFormGroup.valid" (click)="share(shareFormGroup.value)"
                type="button">Share
        </button>
      </div>
    </form>
  </div>
</div>
