<!-- <div style="padding-top: 5%">&nbsp;</div> -->
<div class="main">
<div class="confirm">Confirmation</div>

<p>Payment Successfull!!</p>
<p>Connection will be activated on delivery</p>

<button (click)="redirectTo('public')" class="confirmbutton">Login</button>
</div>
<section class="supportSec" id="supportSec" bgNavy>
    <div class="container">
        <div class="supportSecDes text-center">
            Do you have any questions?
            <br> We are happy to hear from you.
        </div>
        <div class="row supportSec_contact">
            <div class="col-sm-7">
                <div class="supportSec_item supportSec_mail">
                    <a href="mailto:info@selfcaredigital" target="_top">info@selfcare</a>
                </div>
                <div class="supportSec_item supportSec_tel">+46 104 632 525</div>
            </div>
            <div class="col-sm-5">
                <div class="supportSec_item supportSec_locate">Locate us</div>
                <div class="supportSec_item supportSec_talk">Talk to us !</div>
            </div>
        </div>
    </div>
    <div class="clr"></div>
</section>
<footer class="footer container-fluid navbar-light navbar-expand-sm">
    <div class="row">
        <div class="col-md-4">
            <span>&copy; Ericsson AB 2018</span>
        </div>
        <div class="col-md-8">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">Licence Agreement</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">Modern Slavery Statement</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">Cookies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">Legal</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
