.main{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 70px;

}
.confirm {
  width: 100%;
  float: left;
  margin-bottom: 20px;
  font-size: 30px;
  color: #0082f0;
  text-decoration: none;
}
.confirmbutton {
  background-color: #0082f0;
  padding: 5px 10px 5px 10px;
  font-family: Arial,Helvetica,sans-serif;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer !important;
  margin-bottom: 20px;
  margin-top: 20px;
}
