<div class="container_section">
  <div class="container_wrapper">
    <div class="container_header">
      <div class="inner-wrapper">
        <div class="menu_bar">
          <ul>
            <li>
              <a routerLink="/dashboard/home">Home</a> >
            </li>
            <li class="active">
              <a href="javascript:void(0)">Manage Profile</a>
            </li>
          </ul>
        </div>
        <div class="login_person">
          <h2>{{username}}</h2>
          <h5>
            <img src="assets/imgs/online-icon.png" alt="online"/>{{msisdn}}
            <img src="assets/imgs/down-arrow.png" alt="arrow"/>
          </h5>
        </div>
        <div class="clr"></div>
      </div>
    </div>
    <div class="inner-wrapper">
      <h2>My Profile</h2>
      <div class="mange-profile">
        <form novalidate autocomplete="off" [formGroup]="editForm">
          <table>
            <tr>
              <td *ngIf="!isEdit">
                <h3>{{username}}</h3>
              </td>
              <td *ngIf="isEdit">
                <div class="form-row">
                  <div class="form-group col-sm-4">
                    <input type="text" class="form-control" formControlName="firstName" placeholder="First Name">
                  </div>
                  <div class="form-group col-sm-4">
                    <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name">
                  </div>
                </div>
              </td>
              <td>
                <span>Mobile Number</span>{{msisdn}}
              </td>
              <td>
                <span>Date of Birth</span>12/08/1978
              </td>
              <td *ngIf="!isEdit">
                <a href="javascript:void(0)" (click)="isEdit = true;">
                  <img src="assets/imgs/edit-profile.png" alt="img"/>
                </a>
              </td>
              <td *ngIf="isEdit">
                <button type="button" class="btn" bgNavy [disabled]="!editForm.valid" (click)="saveProfile()">Save
                </button> &nbsp;
                <button type="button" class="btn" bgDanger (click)="isEdit = false;setFormData(profile)">Cancel
                </button>
              </td>
            </tr>
            <tr>
              <td *ngIf="!isEdit">
                <span>E-mail</span>{{profile?.email}}
              </td>
              <td *ngIf="isEdit">
                <div class="form-row">
                  <div class="form-group col-sm-4">
                    <input type="text" class="form-control" formControlName="email" placeholder="Email">
                  </div>
                </div>
              </td>
              <td>
                <span>Social ID</span>abc 123 xyz 123
              </td>
            </tr>
          </table>
        </form>
        <p>
          <span>Address</span>Telefonaktiebolaget LM Ericsson Torshamnsgatan 21
          <br> Kista,Stockholm 164 83, Sweden.
        </p>
      </div>
      <div class="check-bx">
        <div class="log-bott">
          <img src="assets/imgs/logo-2.png" alt="img"/></div>
        <div class="chek-lis">
          <ul>
            <li>PROFILING
              <input type="checkbox" name="vehicle" value="Profiling">
            </li>
            <li>ADVERTISING
              <input type="checkbox" name="vehicle" value="Advertising">
            </li>
            <li>3
              <sup>rd</sup> PARTY
              <input type="checkbox" name="vehicle" value="3rd Party">
            </li>
            <li>DATA ABROAD
              <input type="checkbox" name="vehicle" value="DATA  Abroad">
            </li>
          </ul>
        </div>
        <div class="clr"></div>
      </div>
    </div>
  </div>
</div>
