<div id="wrapper">
  <nav class="navbar navbar-expand-lg fixed-top" bgGray>
    <a class="navbar-brand" href="#banner">
      <img src="assets/imgs/dxp-top-band.png" style="margin-left:40px; width:auto; height:auto" alt="empty">
    </a>
    <span></span>
    <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse"
            data-target="#navb" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="clr"></div>
  </nav>
<div>
  <div class="all welcome">Welcome to Onboarding</div>
<router-outlet></router-outlet>
</div>

<!-- <section class="supportSec" id="supportSec" bgNavy>
        <div class="container">
          <div class="supportSecDes text-center">
            Do you have any questions?
            <br> We are happy to hear from you.
          </div>
          <div class="row supportSec_contact">
            <div class="col-sm-7">
              <div class="supportSec_item supportSec_mail">
                <a href="mailto:info@selfcaredigital" target="_top">info@selfcare</a>
              </div>
              <div class="supportSec_item supportSec_tel">+46 104 632 525</div>
            </div>
            <div class="col-sm-5">
              <div class="supportSec_item supportSec_locate">Locate us</div>
              <div class="supportSec_item supportSec_talk">Talk to us !</div>
            </div>
          </div>
        </div>
      </section>
      <footer class="footer container-fluid navbar-light navbar-expand-sm">
        <div class="row">
          <div class="col-md-4">
            <span>&copy; Ericsson AB 2018</span>
          </div>
          <div class="col-md-8">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Licence Agreement</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Modern Slavery Statement</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Cookies</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Legal</a>
              </li>
            </ul>
          </div>
        </div>
      </footer> -->

</div>
