.pagination {
  width: 100%;
  float: left;
  margin-bottom: 20px;
  font-size: 30px;
  color: #0082f0;
  text-decoration: none;
}
.confirmbutton {
  background-color: #0082f0;
  padding: 5px 10px 5px 10px;
  font-family: Arial,Helvetica,sans-serif;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer !important;
  margin-bottom: 20px;
  margin-top: 20px;
}

#searchbutton{
  margin-bottom: 35px;
}
.cardchunk {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  float: left;
  margin: 10px;
}
.container_section{
  margin-top: -56px;
  margin-bottom: 50px;
}
.searchbox {
  width: 350px;
  padding: 7px;
  color: #767676;
  font-size: 16px;
  text-decoration: none;
  border: 1px solid #dfe0e1;
  border-radius: 5px;
  margin-right: 20px;
  float: left;
  margin-top: 16px;
  margin-bottom: 20px;
}




.tabPanel-widget > label {
  position: absolute;
  z-index: 1;
}

/**
 * labels and headings must share same values so grouping declarations in this rule prevents async edits (risk of breakage)
 * line-height == height -> vertical centering
 * the width dictates the offset for all headings but the first one: left offset = width * number of previous heading(s)
 * note that width and offset of label/heading pair can be customized if necessary
 */

.tabPanel-widget > label,
.tabPanel-widget > h2 {
  font-size: 18px;
  width: 20em;
  height: 2.3em;
  /* line-height: 2.3em; */
  font-family: "Ericsson Hilda", Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-weight: normal;
  padding-top: 10px;
}

/**
 * position:relative is for the markers (the down arrow in tabs)
 */
.tabPanel-widget > h2 {
  position: relative;
  margin: 0;
  text-align: center;
  background: #8b8b8b;
}

.tabPanel-widget > label {
  border-right: 1px solid #fff;
}

/**
 * all first level labels and headings after the very first ones
 */
.tabPanel-widget input,
.tabPanel-widget > label ~ label,
.tabPanel-widget > h2 ~ h2 {
  position: absolute;
  top: 0;
}


/**
 * We target all the label/heading pairs
 * we increment the :nth-child() params by 4 as well as the left value (according to "tab" width)
 */

.tabPanel-widget label:nth-child(1),
.tabPanel-widget h2:nth-child(3) {
  left: 0em;
  position: absolute;
}

.tabPanel-widget label:nth-child(5),
.tabPanel-widget h2:nth-child(7) {
  left: 20em;
}

.tabPanel-widget label:nth-child(9),
.tabPanel-widget h2:nth-child(11) {
  left: 40em;
}



/**
 * we visually hide all the panels
 * https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html
 */
.tabPanel-widget input + h2 + div {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
/**
 * we reveal a panel depending on which control is selected
 */
.tabPanel-widget input:checked + h2 + div {
  position: static !important;
  padding: 1em !important;
  height: auto !important;
  width: auto !important;
  font-size:12px;
  color:#8b8b8b;


}

/**
 * shows a hand cursor only to pointing device users
 */
.tabPanel-widget label:hover {
  cursor: pointer;
}

.tabPanel-widget > div {
  padding: 1em;
}

/**
 * we hide radio buttons and also remove them from the flow
 */
.tabPanel-widget input[name="tabs"] {
  opacity: 0;
  position: absolute;
}


/**
 * this is to style the tabs when they get focus (visual cue)
 */

.tabPanel-widget input[name="tabs"]:focus + h2 {
  outline: 1px dotted #000;
  outline-offset: 10px;

}


/**
 * reset of the above within the tab panel (for pointing-device users)
 */
.tabPanel-widget:hover h2 {
  outline: none !important;
}

/**
 * visual cue of the selection
 */
.tabPanel-widget input[name="tabs"]:checked + h2 {
  background: #0082f0;
}

/**
 * the marker for tabs (down arrow)
 */
.tabPanel-widget input[name="tabs"]:checked + h2:after {
  content: '';
  margin: auto;
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #0082f0;
}

/**
 * Make it plain/simple below 45em (stack everything)
 */
@media screen and (max-width: 45em) {

  /* hide unecessary label/control pairs */
  .tabPanel-widget label,
  .tabPanel-widget input[name="tabs"] {
    display: none;
  }

  /* reveal all panels */
  .tabPanel-widget > input + h2 + div {
    display: block !important;
    position: static !important;
    padding: 1em !important;
    height: auto !important;
    width: auto !important;
  }

  /* "unstyle" the heading */
  .tabPanel-widget h2 {
    width: auto;
    position: static !important;
    background: #999 !important;

  }

  /* "kill" the marker */
  .tabPanel-widget h2:after {
    display: none !important;
  }
}
.tabPanel-widget {
  position: relative;  /* containing block for headings (top:0) */
  background: #ffffff;
  border:1px solid #f1f2f2;
}
