<div class="container_section">
    <div class="container_wrapper">
      <div class="container">
          <div style="padding-top: 30px;"></div>
            <app-stepper step="5"></app-stepper>


<!--The content below is only a placeholder and can be replaced.-->
<div class="pagination">Delivery / Pickup</div>

<div class="tabPanel-widget">
  <label for="tab-1" tabindex="0"></label>
    <input id="tab-1" type="radio" name="tabs" checked="true" aria-hidden="true">
  <h2>Home Delivery</h2>
  <div>
    <h6>Telefonaktiebolaget LM Ericsson Torshamnsgatan 21 
      Kista</h6>
    <h6>Stockholm 164 83, Sweden</h6>
  </div>
  <label for="tab-2" tabi ndex="0"></label>
  <input id="tab-2" type="radio" name="tabs" aria-h idden="true">
  <h2>Alternate Address</h2>
  <div>
    <img alt="empty" src="assets/imgs/address.png">
  </div>
  <label for="tab-3" tabindex="0"></label>
  <input id="tab-3" type="radio" name="tabs" aria-hidden="true">
  <h2>Find your nearest store</h2>
  <div style="margin-left: 50px;">
    <img alt="empty" src="assets/imgs/g-map.png">
    <div style="margin-top: 20px;">
      <img alt="empty" src="assets/imgs/location.png">
    </div>
  </div>
</div>





<!--<div >
    <input type="radio" [(ngModel)]="deliveryMode" value="homeDelivery" >Home Delivery
    <input type="radio" [(ngModel)]="deliveryMode" (click)="getUsers()" value="pickup" style="margin-left:10px;">Pick Up From The Nearest Store
    <div *ngIf="deliveryMode=='homeDelivery'" >
      <h6>Telefonaktiebolaget LM Ericsson Torshamnsgatan 21 
        Kista</h6>
      <h6>Stockholm 164 83, Sweden</h6>
      <div style="padding-top: 15px;">
      <h5>Alternate Address</h5></div>
      <div><input type="text" placeholder="Enter Address" class="searchbox"></div>
    </div>

</div>


<div *ngIf="deliveryMode=='pickup'">
  <form class="form-horizontal" [formGroup]="form">
    <div class="form-group">
    <input type="text" [(ngModel)]="pincode" minlength="6" placeholder="Enter Pincode .." name="search" class="searchbox" formControlName="search" required>
    </div>
    <button  [disabled]="!form.valid" id ="searchbutton" class="confirmbutton">Search</button>
  </form>
  <div style="width: 97%; text-align: center;">
    <img alt="Google MAP" src="assets/imgs/g-map.png">
  </div>
  <span style="padding: 60px;">
      <ul *ngFor="let user of users$">

            <div class="cardchunk" style="width: 30rem;">
                <div class="card-body">
                  <h5 class="card-title">{{ user.name }}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{ user.address}}</h6>
                  <h6 class="card-subtitle">Opening timings : <span class="card-subtitle mb-2 text-muted">{{user.openingTiming}}</span>  | Closing timings : <span class="card-subtitle mb-2 text-muted">{{user.closingTiming}}</span> </h6>
                  <a style="float: right;"  href="#">Get Direction</a>
                </div>
             </div>

      </ul>
      </span>
</div>-->

<router-outlet></router-outlet>
<button (click)="redirectTo('onboard/checkout')" class="confirmbutton">Confirm</button>

</div>

</div>
</div>

<section class="supportSec" id="supportSec" bgNavy>
    <div class="container">
      <div class="supportSecDes text-center">
        Do you have any questions?
        <br> We are happy to hear from you.
      </div>
      <div class="row supportSec_contact">
        <div class="col-sm-7">
          <div class="supportSec_item supportSec_mail">
            <a href="mailto:info@selfcaredigital" target="_top">info@selfcare</a>
          </div>
          <div class="supportSec_item supportSec_tel">+46 104 632 525</div>
        </div>
        <div class="col-sm-5">
          <div class="supportSec_item supportSec_locate">Locate us</div>
          <div class="supportSec_item supportSec_talk">Talk to us !</div>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer container-fluid navbar-light navbar-expand-sm">
    <div class="row">
      <div class="col-md-4">
        <span>&copy; Ericsson AB 2018</span>
      </div>
      <div class="col-md-8">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">Licence Agreement</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">Modern Slavery Statement</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">Cookies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">Legal</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
