.pagination {
  width: 100%;
  float: left;
  margin-bottom: 20px;
  font-size: 30px;
  color: #0082f0;
  text-decoration: none;
}

.searchbox {
  width: 350px;
  padding: 7px;
  font-family: Arial,Helvetica,sans-serif;
  color: #767676;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  border: 1px solid #dfe0e1;
  border-radius: 5px;
  margin-right: 20px;
  float: left;
  margin-bottom: 5px;
}
.phonebox {
  width: 350px;
  padding: 7px;
  font-family: Arial,Helvetica,sans-serif;
  color: #767676;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  border: 1px solid #dfe0e1;
  border-radius: 5px;
  margin-right: 20px;
  float: left;
  margin-top: 17px;
}
.commentbox {
  width: 350px;
  padding: 7px;
  font-family: Arial,Helvetica,sans-serif;
  color: #767676;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  border: 1px solid #dfe0e1;
  border-radius: 5px;
  margin-right: 20px;
  float: left;
  margin-bottom: 20px;
}
.confirmbutton {
  background-color: #0082f0;
  padding: 5px 10px 5px 10px;
  font-family: Arial,Helvetica,sans-serif;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer !important;
  margin-top: 12px;
}

.skipbutton {
  background-color: #767676;
  padding: 5px 10px 5px 10px;
  font-family: Arial,Helvetica,sans-serif;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer !important;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 10px;
}
.details {
  font-size: 22px;
  color: #767676;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
.phonenotext {
  font-size: 16px;
    color: #0082f0;
    text-decoration: none;
    margin-right: 35px;
    padding-left: 6px;
    margin-bottom: 20px;
}

.container_section{
  margin-top: -56px;
  margin-bottom: 50px;
}
.numberchunk{
  border: 1px solid#eaeaea;
  padding: 10px;
  margin: 6px;
  float: left;
  cursor: pointer;
}
.numberchunk:hover{
  border: 1px solid#0082f0;
}
