<div class="container_section">
  <div class="container_wrapper">
              <div class="container">
                  <div style="padding-top: 30px;"></div>
                <app-stepper step="4"></app-stepper>
                  <div class="pagination">Register</div>


                  <form [formGroup]="registerFormModel" >
                    <div class="details">Personal Information</div>
                      <div>
                        <input type="text" formControlName="firstName" class="form-control" [(ngModel)]="firstName" placeholder="First Name" class="searchbox" required>
                      </div>
                      <div>
                        <input formControlName="lastName" class="form-control" [(ngModel)]="lastName" placeholder="Last Name" (change)="autoPopulateData($event)" class="searchbox" required>
                      </div>
                      <div>
                        <input [ngModelOptions]="{standalone: true}"  [(ngModel)]="dob" placeholder="Date Of Birth" class="searchbox" required>
                      </div>
                      <br>
                      <br>


                      <div class="details">Login Information</div>
                      <div>
                          <input formControlName="email" class="form-control" [(ngModel)]="emailId" placeholder="Email Id" class="searchbox" required>
                      </div>
                      <div>
                          <input formControlName="password" class="form-control" [(ngModel)]="password" type="password" placeholder="Password" class="searchbox" required>
                      </div>
                      <div>
                          <input  [ngModelOptions]="{standalone: true}" [(ngModel)]="retypePassword" type="password" placeholder="Retype Password" class="searchbox" required>
                      </div>

                      <br>
                      <br>

                      <div class="details">Delivery Address</div>
                      <div>
                        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="addressLine1" placeholder="Address Line 1" class="searchbox" required>
                      </div>
                      <div>
                        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="addressLine2" placeholder="Address Line 2" class="searchbox">
                      </div>
                      <div>
                        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="city" placeholder="City" class="searchbox" required>
                      </div>
                      <div>
                        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="state" placeholder="State" class="searchbox" required>
                      </div>
                      <div>
                        <select [ngModelOptions]="{standalone: true}" [(ngModel)]="country" class="searchbox" required>
                            <!-- <option [ngValue]="0" disabled selected>{{country}}</option> -->
                            <option [value]="country">{{country.name}}</option>
                            <option  *ngFor='let country of mockCountry' [value]="country.name">{{country.name}}</option>
                        </select>
                      </div>
                      <div>
                        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="pincode" placeholder="Pincode/Zip" class="searchbox" required>
                      </div>

                      <br />
                      <br />
                      <br />
                      <br />
                      <div class="details">Contact Details</div>
                      <div>
                        <input type="radio" [ngModelOptions]="{standalone: true}" [(ngModel)]="phoneNumberType"  value="byop"><span class="phonenotext">Bring Your Own Phone Number</span>
                        <input type="radio" [ngModelOptions]="{standalone: true}" [(ngModel)]="phoneNumberType"  value="newPhoneNumber"><span class="phonenotext">Choose Number</span>
                      </div>
                      <div *ngIf="phoneNumberType=='byop'">
                        <input  formControlName="msisdn" #input  [(ngModel)]="phoneNumber" placeholder="Phone Number" class="searchbox" (keyup)="onKey($event, input.value)" class="phonebox">
                      </div>
                      <div *ngIf="phoneNumberType=='newPhoneNumber'" >
                      <div *ngFor="let item of inventory; index as i;" class="numberchunk">
                        <div (click)="getSelectedNumber(i)">
                            {{item}}
                        </div>
                      </div>
                    </div>
                    <div style="width: 40%">
                    <button (click)="redirectTo('onboard/delivery')" (click)="registerUser()" class="confirmbutton" [disabled]="!registerFormModel.valid">Confirm</button>
                    <br /><br />
                  </div>
                    </form>
                    <div class="clr"></div>




                </div>
        </div>
      </div>

      <section class="supportSec" id="supportSec" bgNavy>
          <div class="container">
            <div class="supportSecDes text-center">
              Do you have any questions?
              <br> We are happy to hear from you.
            </div>
            <div class="row supportSec_contact">
              <div class="col-sm-7">
                <div class="supportSec_item supportSec_mail">
                  <a href="mailto:info@selfcaredigital" target="_top">info@selfcare</a>
                </div>
                <div class="supportSec_item supportSec_tel">+46 104 632 525</div>
              </div>
              <div class="col-sm-5">
                <div class="supportSec_item supportSec_locate">Locate us</div>
                <div class="supportSec_item supportSec_talk">Talk to us !</div>
              </div>
            </div>
          </div>
        </section>
        <footer class="footer container-fluid navbar-light navbar-expand-sm">
          <div class="row">
            <div class="col-md-4">
              <span>&copy; Ericsson AB 2018</span>
            </div>
            <div class="col-md-8">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="javascript:void(0)">Licence Agreement</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="javascript:void(0)">Modern Slavery Statement</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="javascript:void(0)">Cookies</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="javascript:void(0)">Legal</a>
                </li>
              </ul>
            </div>
          </div>
        </footer>
