.commonModal_card{
  display: flex;
  .bnk-left{
    text-align: left;
  }
}
.commonModal_buttons{
  display: block;
  text-align:  center;
}

.mode-right, .mode-menu{
  float: none;
  width: 100%;
}

.paymentOptionTabWrap {
  text-align: left;
}
