<div class="">
  <h3>{{title}}</h3>
  <div class="all-price" style="margin: 110px auto 0px">
    <div class="add-data-bx" *ngIf="!isNext">
      <div class="price-box " *ngFor="let item of addOnsDataSets;let si = index;"
           [ngClass]="item?.isSelected?'priceBoxActive':''"
           (click)="setActive(si)">
        <h4 *ngIf="type == 'sms'">
          <a
            href="javascript:void(0)">{{item?.quota?.sms?.unit}}</a><span>$ {{item?.price | valueFormatter : 'price'}} </span>
        </h4>
        <h4 *ngIf="type == 'data'"><a href="javascript:void(0)">{{item?.quota?.data?.unit | valueFormatter : 'data'}}
          GB</a><span>$ {{item?.price | valueFormatter : 'price'}} </span>
        </h4>
        <h4 *ngIf="type == 'voice'">
          <a href="javascript:void(0)">{{item?.quota?.voice?.unit | valueFormatter : 'voice'}} Min</a><span>$ {{item?.price | valueFormatter : 'price'}} </span>
        </h4>
      </div>
      <div class="clr"></div>
    </div>

    <div *ngIf="isNext" class="commonModal_card">
      <div class="slect-mod">
        <div class="paymentOptionTabWrap row">
          <div class="col-sm-4">
            <div class="mode-menu">
              <ul class="nav nav-tabs" id="paymentOptionTab" role="tablist">
                <li><a href="#" id="#debitCardTab" data-toggle="tab" role="tab" aria-controls="debitCard">Credit Balance</a></li>
                <li><a class="active" href="#creditCard" id="creditCardTab" data-toggle="tab" role="tab" aria-controls="creditCard" aria-selected="true">Credit Card</a></li>
                <li><a href="#debitCard" id="#debitCardTab" data-toggle="tab" role="tab" aria-controls="debitCard">Debit Card</a></li>
                <li><a href="#" id="#debitCardTab" data-toggle="tab" role="tab" aria-controls="debitCard">Paypal</a></li>
                <li><a href="#" id="#debitCardTab" data-toggle="tab" role="tab" aria-controls="debitCard">Voucher</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="row">
              <div class="mode-right tab-content" id="paymentOptionTabContent">
                <div id="creditCard" class="tab-pane fade show active" role="tabpanel" aria-labelledby="creditCardTab">
                  <app-payment-form></app-payment-form>
                </div>
                <div id="debitCard" class="tab-pane fade" role="tabpanel" aria-labelledby="debitCardTab">
                  <app-payment-form [cardType]="'Debit Card'"></app-payment-form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clr"></div>
      </div>
    </div>
    <div class="commonModal_buttons">
      <button type="button" class="price-add" *ngIf="isNext" (click)="isNext = false;">Back
      </button> &nbsp;
      <button type="button" class="price-add" [disabled]="activeDataSet == 0" *ngIf="!isNext" (click)="isNext = true;">
        Next
      </button>
      <button type="button" class="price-add" [disabled]="activeDataSet == 0" *ngIf="isNext" (click)="addData()">Add
      </button>
    </div>
  </div>
</div>
