<form class="formPayment">
  <div class="row">
    <div class="card">
      <div class="card-header">
        Payment Details
      </div>
      <div class="card-body">
          <div class="row" *ngIf="cardType === 'Credit Card'">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body" (click)="selectCard(1)" [ngClass]="{'payment-card-selected':selectedPayment == 1}">
                    <div class="payment-card-chunk"><img alt="img" src="assets/imgs/card-black.png" width="100%"></div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body" (click)="selectCard(2)" [ngClass]="{'payment-card-selected':selectedPayment == 2}">
                    <div class="payment-card-chunk"><img alt="img" src="assets/imgs/card-blue.png" width="100%"></div>
                  </div>
                </div>
              </div>
          </div>
          <div class="row" *ngIf="cardType === 'Debit Card'">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body" (click)="selectCard(1)" [ngClass]="{'payment-card-selected':selectedPayment == 1}">
                    <div class="payment-card-chunk"><img alt="img" src="assets/imgs/card-red.png" width="100%"></div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body" (click)="selectCard(2)" [ngClass]="{'payment-card-selected':selectedPayment == 2}">
                    <div class="payment-card-chunk"><img alt="img" src="assets/imgs/card-yellow.png" width="100%"></div>
                  </div>
                </div>
              </div>
          </div>
        <!-- <div class="form-group">
          <label for="cardNum" class="text-capitalize">{{cardType}}</label>
          <input type="number" class="form-control" id="cardNum" name="cardNum" placeholder="Valid Card Number">
        </div>
        <div class="row">
          <div class="col-md-8">
            <label>Expiry Date</label>
            <div class="row">
              <div class="col-md-6 form-group">
                <label for="month" class="sr-only">Month</label>
                <input type="number" class="form-control" id="month" name="month" placeholder="MM">
              </div>
              <div class="col-md-6 form-group">
                <label for="year" class="sr-only">Year</label>
                <input type="number" class="form-control" id="year" name="year" placeholder="YY">
              </div>
            </div>
          </div>
          <div class="col-md-4 form-group">
            <label for="cvCode">CV Code</label>
            <input type="number" class="form-control" id="cvCode" name="cvCode" placeholder="CV">
          </div>
        </div> -->
      </div>
    </div>
  </div>
</form>
