.card{
  margin-bottom: 5px;
}
.card-header{
  a{
    color: #058ace;
  }

}
.requestIssue_cardBlock > h5{

}
.requestIssue_cardBlock{
  .card{
    margin-bottom: 16px;
  }
  textarea.form-control{
    height: 38px;
    resize: none;
  }
}

.form-check{
  display: flex;
  padding: 4px 0;
  align-items: center;
  label{
    margin: 0;
    font-weight: normal;
    font-size: 12px;
  }
}

.requestIssueHeader{
  display: flex;
  .btn{
    border-radius: 2px;
    background-color: transparent;
    border: 1px solid #ddd;
  }
  .btn, .dropdown-item{
    color: #7a7a7a;
  }
}
.requestIssueHeader_colLeft{
  flex: 1;
  padding-right: 16px;
  h5{
    color: #058ace;
  }
}

.stepper{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  .stepper_step{
    position: relative;
  }
  .stepper_dot{
    margin: 0 auto 5px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #ccc;
    &:before, &:after{
      content: '';
      position: absolute;
      width: 50%;
      top: 10px;
      height: 6px;
      background-color: #ccc;
    }
    &:before{
      left: 0;
    }
    &:after{
      right: 0;
    }
  }
  .stepper_step:first-child{
    .stepper_dot{
      &:before{
        display: none;
      }
    }
  }
  .stepper_step:last-child{
    .stepper_dot{
     &:after{
        display: none;
      }
    }
  }
  .stepper_text{
    font-size: 14px;
  }
  .tick{
    width: 6px;
    height: 12px;
    display: inline-block;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: #fff;
    border-top: 0;
    border-left: 0;
    transform: rotate(45deg);
    position: absolute;
    margin: 4px 0 0 8px;
    z-index: 1;
    opacity: 0;
  }
}
