.notificationBox{
  position: absolute;
  top: 43px;
  right: -105px;
  width: 360px;
  z-index: 2;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  cursor: default;
  transform: scaleY(0);
  opacity: 0;
  transition: all 0.2s ease-out;
  transform-origin: top right;
  &:before{
    content: '';
    position: absolute;
    top: -8px;
    right: 118px;
    border-bottom: 12px solid #fff;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
  }
}
.showNotification .notificationBox{
  transform: scaleY(1);
  opacity: 1;
}

.notificationHeader, .notificationBody, .notificationFooter{
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}
.notificationHeader, .notificationFooter{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.notificationHeader{
  height: 40px;
  font-size: 16px;
}
.notificationFooter{
  height: 30px;
}
.notificationBody{
  border-top:1px solid #ddd;
  padding-bottom: 10px;
  max-height: calc(65vh - 39px);
  overflow-y: auto;
  font-size: 10px;
}

.notificationItem{
  padding:8px 0;
  white-space: normal;
  color:#666;
  display: flex;
}
.notificationItem.read{
  .notificationItem_message{
    opacity: 0.4;
  }
}
.userImgSm{
  margin-right: 8px;
  width: 20px;
  height: 20px;
}
.notificationItem_desc {
  flex: 1;
  line-height: 1.2;
  text-align: left;
}
.notificationItem_message {
  max-height: 24px;
  overflow: hidden;
}
.notificationItem_dateTime{
  margin-top: 6px;
  opacity: 0.6;
  .notificationItem_date{
    margin-right:16px;
  }
}


.hdr_searchField{
  transition: all 0.2s ease-out;
  transform-origin: right;
  max-width: 0;
  overflow: hidden;
}
.hdr_searchField.showSearch{
  max-width: 150px;
}


.navInternal{
  padding-top: 0;
  padding-bottom: 0;
  h5{
    color: #fff;
    margin: 0;
  }
  .navInternal_header{
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 2px;
    h5{
      color: rgba(255, 255, 255, 0.5);
      margin: 0;
    }
  }
}
