<div id="header">
  <div class="wrapper">
    <div class="logo">
      <a routerLink="/dashboard/home">
        <img src="assets/imgs/dxp-logo.png" alt="logo"/>
      </a>
    </div>
    <div class="call_us">
      <h5 style="margin-top: 25px;">Talk to Expert :
        <span>+46 123 123 123</span>
      </h5>
      <div class="notification_bar">
        <!--<img src="assets/imgs/notification.png" alt="notification"/>-->
        <button #btnBell type="button" class="notificationBtn" [class.showNotification]="showNotification">
          <i class="fa fa-bell-o"></i> <span *ngIf="notificationCount>0" class="badge">{{notificationCount}}</span>
          <div class="notificationBox">
            <div class="notificationHeader">Notifications</div>
            <div class="notificationBody">
              <a href="javascript:void(0)" class="notificationItem" [class.read]="item.read" *ngFor="let item of notificationMsg;let i = index;" (click)="setAsRead(i)">
                <img class="userImgSm" src="assets/imgs/userDummy.jpg" alt="">
                <div class="notificationItem_desc">
                  <div class="notificationItem_message">{{item.message}}</div>
                  <div class="notificationItem_dateTime" textRight>
                    <span class="notificationItem_date">{{item.date|getLocalTime:'day'}}</span>
                    <span class="notificationItem_time">{{item.date|getLocalTime:'time' }}</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </button>
        <img src="assets/imgs/icon-3.png" alt="download-icon" (click)="logout()" title="logout" />
      </div>
      <div class="clr"></div>
    </div>
    <div class="clr"></div>
  </div>
</div>
<div class="all_detail">
  <nav class="navbar navbar-expand-lg navbar-dark navInternal">
    <div class="navInternal_header d-lg-none">
      <h5>Menu</h5>
      <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse"
              data-target="#navb" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navb">
      <div class="wrapper">
        <div class="box-1" (click)="openRoute('dashboard/profile')" routerLink="profile"
             routerLinkActive="customActiveMenuBar">
          <a href="javascript:void(0)">
            <img src="assets/imgs/icon-5.png" alt="Profile"/>
          </a>
          <h4>
            <a>My Profile</a>
          </h4>
        </div>
        <div class="box-1" (click)="openRoute('dashboard/plan')" routerLink="plan" routerLinkActive="customActiveMenuBar">
          <a href="javascript:void(0)">
            <img src="assets/imgs/icon-4.png" alt="My Plan"/>
          </a>
          <h4>
            <a >My Plan</a>
          </h4>
          <div class="down-arrow">
            <img src="assets/imgs/down-arrow-1.png" alt=""/>
          </div>
        </div>
        <div class="box-1" (click)="openRoute('dashboard/utc')" routerLink="utc" routerLinkActive="customActiveMenuBar">
          <a href="javascript:void(0)">
            <img src="assets/imgs/icon-6.png" alt="Traffic"/>
          </a>
          <h4>
            <a>Usage Traffic & Costs</a>
          </h4>
          <div class="down-arrow">
            <img src="assets/imgs/down-arrow-1.png" alt=""/>
          </div>
        </div>
        <div class="box-1" (click)="openRoute('dashboard/dfy')" routerLink="dfy" routerLinkActive="customActiveMenuBar">
          <a href="javascript:void(0)">
            <img src="assets/imgs/icon-7.png" alt="Deals"/>
          </a>
          <h4>
            <a>Deals for You</a>
          </h4>
          <div class="down-arrow">
            <img src="assets/imgs/down-arrow-1.png" alt=""/>
          </div>
        </div>
        <div class="box-1" (click)="openRoute('dashboard/roaming')" routerLink="roaming"
             routerLinkActive="customActiveMenuBar">
          <a href="javascript:void(0)">
            <img src="assets/imgs/icon-8.png" alt="Roaming"/>
          </a>
          <h4>
            <a>Roaming</a>
          </h4>
          <div class="down-arrow">
            <img src="assets/imgs/down-arrow-1.png" alt=""/>
          </div>
        </div>
        <div class="box-1" (click)="openRoute('dashboard/wallet')" routerLink="wallet"
             routerLinkActive="customActiveMenuBar">
          <a href="javascript:void(0)">
            <img src="assets/imgs/icon-9.png" alt="Wallet"/>
          </a>
          <h4>
            <a>Wallet & Payment</a>
          </h4>
          <div class="down-arrow">
            <img src="assets/imgs/down-arrow-1.png" alt=""/>
          </div>
        </div>
        <div class="box-1" (click)="openRoute('dashboard/support')" routerLink="support"
             routerLinkActive="customActiveMenuBar">
          <a href="javascript:void(0)">
            <img src="assets/imgs/icon-10.png" alt="Support"/>
          </a>
          <h4>
            <a>Support</a>
          </h4>
          <div class="down-arrow">
            <img src="assets/imgs/down-arrow-1.png" alt=""/>
          </div>
        </div>
        <div class="clr"></div>
      </div>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
<div class="footer_section">
  <div class="footer-wrapper">
    <div class="footer-menu">
      <ul>
        <li>
          <a href="javascript:void(0)">My Plans</a>
        </li>
        <li>
          <a href="javascript:void(0)">Add SIM</a>
        </li>
        <li>
          <a href="javascript:void(0)">Credit Transfer</a>
        </li>
        <li>
          <a href="javascript:void(0)">Share Account</a>
        </li>
        <li>
          <a href="javascript:void(0)">Friends and Family</a>
        </li>
      </ul>
    </div>
    <div class="footer-menu">
      <ul>
        <li>
          <a href="javascript:void(0)">Recharge for Other</a>
        </li>
        <li>
          <a href="javascript:void(0)">Billing History</a>
        </li>
        <li>
          <a href="javascript:void(0)">Deals for you</a>
        </li>
        <li>
          <a href="javascript:void(0)">Roaming</a>
        </li>
        <li>
          <a href="javascript:void(0)">Find a Store</a>
        </li>
      </ul>
    </div>
    <div class="footer-menu last-menu">
      <ul>
        <li>
          <a href="javascript:void(0)">FAQ</a>
        </li>
        <li>
          <a href="javascript:void(0)">Call Center</a>
        </li>
        <li>
          <a href="javascript:void(0)">Service Request Status</a>
        </li>
        <li>
          <a href="javascript:void(0)">Chatbot / Chat</a>
        </li>
      </ul>
    </div>
    <div class="clr"></div>
    <div class="social-bar-content">
      <div class="social-bar">
        <a href="javascript:void(0)">
          <img src="assets/imgs/fb-icon.png" alt="facbook"/> </a>
        <a href="javascript:void(0)">
          <img src="assets/imgs/gmail-icon.png" alt="gmail"/> </a>
        <a href="javascript:void(0)">
          <img src="assets/imgs/in-icon.png" alt="facbook"/> </a>
      </div>
      <div class="chat-option">
        <img src="assets/imgs/msg-icon.png" alt="chat-img"/>
      </div>
      <div class="clr"></div>
    </div>
  </div>
</div>
<div class="footer-bottom">
  <div class="footer-wrapper">
    <h5>©Ericsson AB 2018</h5>
    <ul>
      <li>
        <a href="javascript:void(0)">Licence Agreement</a>
      </li>
      <li>
        <a href="javascript:void(0)">Modern Slavery Statement</a>
      </li>
      <li>
        <a href="javascript:void(0)">Cookies</a>
      </li>
      <li>
        <a href="#">Legal</a>
      </li>
    </ul>
    <div class="clr"></div>
  </div>
</div>

