.skipbutton {
    background-color: #767676;
    padding: 5px 10px 5px 10px;
    font-family: Arial,Helvetica,sans-serif;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer !important;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 10px;
    float: left;
  }

  .container_section{
    margin-top:-56px;
    margin-bottom: 70px;
  }
  .pagination {
    margin-bottom: 20px;
    font-size: 30px;
    color: #0082f0;
    text-decoration: none;
  }
  .selected{
    background-color: #0c99e2
  }
