<div class="container_section">
  <div class="container_wrapper">
              <div class="container">
                  <div style="padding-top: 30px;"></div>
<app-stepper step="1"></app-stepper>
<section class="plansSec" id="plansSec">
    <div class="container">
      <div> <span class="pagination">Change Plan</span></div>
      <div class="row plansBoxes">
        <div class="col-md-4 plansBox plansBoxStandard">
          <div class="plansBoxInner" bgGray>
            <div class="plansBoxHeader">
              <h3 class="text-uppercase plansBoxTitle" [class.selected]="'standard'.toLowerCase() === currentPlan" bgBlue>Standard</h3>
            </div>
            <div class="plansBoxBody">
              <div class="plansBoxPrice">
                <span class="plansBoxPriceText">{{standardPlanOffer?.price|valueFormatter:'price'}} $</span>
                <span class="plansBoxPriceText2">/mo</span>
              </div>
              <div class="list-group text-center">
                <div class="list-group-item"
                     *ngFor="let item of standardPlanOffer?.productDescription.replace('\r\n','').split('|')">{{item}}
                </div>
              </div>
            </div>
            <div class="plansBoxFooter">
              <button class="btn btn-block" (click)="redirectTo('onboard/device');setOnboardBar('standard')" >Buy</button>
            </div>
          </div>
        </div>
        <div class="col-md-4 plansBox plansBoxPremium">
          <div class="plansBoxInner" bgGray>
            <div class="plansBoxHeader">
              <h3 class="text-uppercase plansBoxTitle" [class.selected]="'premium'.toLowerCase() === currentPlan" bgBlue>Premium</h3>
            </div>
            <div class="plansBoxBody">
              <div class="plansBoxPrice">
                <span class="plansBoxPriceText">{{premiumPlanOffer?.price/100}} $</span>
                <span class="plansBoxPriceText2">/mo</span>
              </div>
              <div class="list-group text-center">
                <div class="list-group-item"
                     *ngFor="let item of premiumPlanOffer?.productDescription.replace('\r\n','').split('|')">{{item}}
                </div>
              </div>
            </div>
            <div class="plansBoxFooter">
              <button class="btn btn-block" (click)="redirectTo('onboard/device');setOnboardBar('premium')">Buy</button>
            </div>
          </div>
        </div>
        <div class="col-md-4 plansBox plansBoxCustom">
          <div class="plansBoxInner" bgGray>
            <div class="plansBoxHeader">
              <h3 class="text-uppercase plansBoxTitle" [class.selected]="'custom'.toLowerCase() === currentPlan" bgBlue>Custom</h3>
            </div>
            <div class="plansBoxBody">
              <div class="plansBoxPrice">
                <span class="plansBoxPriceText">{{getSumForCustom()|valueFormatter:'price'}} $</span>
                <span class="plansBoxPriceText2">/mo</span>
              </div>
              <div class="plansCustom_dataSlides">
                <div class="plansCustom_dataSlides_slider plansCustom_dataSlides_sliderData">
                  <div class="plansCustom_dataSlides_sliderTitle">Data(Gb)</div>
                </div>
                <div class="ribbon">
                  <div class="flex-container">
                    <div class="numberDivCont" *ngFor="let item of dataPlans;let i = index"
                         [ngClass]="i===selectedDataPlanIndex?'active':''" (click)="selectCustomPlan('data',i)">
                      {{item.name}}
                    </div>
                  </div>
                </div>
                <div class="plansCustom_dataSlides_slider plansCustom_dataSlides_sliderSms">
                  <div class="plansCustom_dataSlides_sliderTitle">SMS</div>
                </div>
                <div class="ribbon">
                  <div class="flex-container">
                    <div class="numberDivCont" *ngFor="let item of smsPlans;let i = index"
                         [ngClass]="i===selectedSmsPlanIndex?'active':''" (click)="selectCustomPlan('sms',i)">
                      {{item.name}}
                    </div>
                  </div>
                </div>
                <div class="plansCustom_dataSlides_slider plansCustom_dataSlides_sliderMinutes">
                  <div class="plansCustom_dataSlides_sliderTitle">Minutes</div>
                  <!--<div class="plansCustom_dataSlides_sliderInner">
                 <div class="plansCustom_dataSlides_sliderItem">100</div>
                 <div class="plansCustom_dataSlides_sliderItem">150</div>
                 <div class="plansCustom_dataSlides_sliderItem">200</div>
                 </div>
                 <button name="prev"></button>
                 <button name="next"></button>-->
                </div>
                <div class="ribbon">
                  <div class="flex-container">
                    <div class="numberDivCont" *ngFor="let item of voicePlans;let i = index"
                         [ngClass]="i===selectedVoicePlanIndex?'active':''" (click)="selectCustomPlan('voice',i)">
                      {{item.name}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="plansBoxFooter">
              <button class="btn btn-block" (click)="redirectTo('onboard/device');setOnboardBar('custom')">Buy</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
</div>
</div>
