<div class="container_section">
    <div class="container_wrapper">
        <!-- <div class="container_header">
            <div class="inner-wrapper">
            </div>
        </div> -->

        <div class="container">
            <div style="padding-top: 30px;"></div>
            <app-stepper step="2"></app-stepper>
            <!-- <form #searchDeviceForm="ngForm" action="" (submit)="searchDevice()" autocomplete="off"
                                method="POST">-->
            <div class="pagination">
                <div style="font-size: 30px;">Select Device</div>
                <div style="padding-left:800px;">
                <button (click)="redirectTo('onboard/addOn')" class="confirmbutton" [disabled]="isDisabled">Confirm</button>
                <button (click)="redirectTo('onboard/addOn');skipDevice()" class="skipbutton">Skip</button>
                </div>
            </div>
            <div style="float: left;">
                <input [(ngModel)]="deviceName" placeholder="Type Device Name" class="searchbox" type="text" name="deviceName" />
            </div>
            <div class="search-holder">
                <button (click)="searchDevice()" mat-raised-button color="search" class="confirmbutton">
                    Search
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
                &nbsp;
                <button (click)="searchReset()" mat-raised-button color="reset" class="reset">
                    Reset

                </button>
            </div>
            <!-- </form> -->
            <div class="clr"></div>
            <table>
                <tr>
                    <span *ngFor="let device of deviceSearchList; index as i;">
                        <td>
                            <div class="devicechunk" (click)="getSelectedDevice(i)" [class.selected]="device.deviceName === selectedDevice.deviceName">
                                <span class="devicecname">{{device.deviceName}}</span><br />
                                <span class="devicecprice">Price : ${{device.price}}</span>
                                <div style="float: right; vertical-align: top;">
                                    <img src="{{device.url}}" alt="dxp" title="Device">
                                </div>
                            </div>
                        </td>
                        <span *ngIf="(i+1)%4==0"><br /></span>
                    </span>
                </tr>
            </table>
        </div>
    </div>
</div>

<section class="supportSec" id="supportSec" bgNavy>
    <div class="container">
        <div class="supportSecDes text-center">
            Do you have any questions?
            <br> We are happy to hear from you.
        </div>
        <div class="row supportSec_contact">
            <div class="col-sm-7">
                <div class="supportSec_item supportSec_mail">
                    <a href="mailto:info@selfcaredigital" target="_top">info@selfcare</a>
                </div>
                <div class="supportSec_item supportSec_tel">+46 104 632 525</div>
            </div>
            <div class="col-sm-5">
                <div class="supportSec_item supportSec_locate">Locate us</div>
                <div class="supportSec_item supportSec_talk">Talk to us !</div>
            </div>
        </div>
    </div>
</section>
<footer class="footer container-fluid navbar-light navbar-expand-sm">
    <div class="row">
        <div class="col-md-4">
            <span>&copy; Ericsson AB 2018</span>
        </div>
        <div class="col-md-8">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">Licence Agreement</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">Modern Slavery Statement</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">Cookies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">Legal</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
