.pagination {
  width: 100%;
  float: left;
  margin-bottom: 20px;
  color: #0082f0;
  text-decoration: none;
}

.confirmbutton {
  background-color: #0082f0;
  padding: 5px 10px 5px 10px;
  font-family: Arial,Helvetica,sans-serif;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer !important;
  margin-bottom: 20px;
  margin-top: 20px;
}
.reset {
  background-color: #767676;
  padding: 5px 10px 5px 10px;
  font-family: Arial,Helvetica,sans-serif;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer !important;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 10px;
}
.skipbutton {
  background-color: #767676;
  padding: 5px 10px 5px 10px;
  font-family: Arial,Helvetica,sans-serif;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer !important;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 840px;
}

.devicechunk{
  border: 1px solid#eaeaea;
  padding: 10px;
  width: 260px;
  height: auto;
  margin: 6px;
  float: left;
  cursor: pointer;
}
.devicechunk:hover{
  border: 1px solid#0082f0;
}
.devicecname{
  font-size: 19px;
  color: #0082f0;
  text-decoration: none;
  padding-top: 20px;
  float: left;
  width: 210px;
}
.devicecprice{
  font-size: 16px;
  color:#767676;
  text-decoration: none;
  padding-top: 30px;
  float: left;
}
.confirmbutton {
  background-color: #0082f0;
  padding: 5px 10px 5px 10px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer !important;
}
.skipbutton {
  background-color: #767676;
  padding: 5px 10px 5px 10px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer !important;
  margin-left: 10px;
}
.searchbox {
  width: 350px;
  padding: 7px;
  color: #767676;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  border: 1px solid #dfe0e1;
  border-radius: 5px;
  margin-right: 20px;
  float: left;
  margin-top: 16px;

}

.container_section{
  margin-top: -56px;
  margin-bottom: 50px;
}
.selected{
  border: 1px solid#0082f0;
}
