<div class="container_section">
  <div class="container_wrapper">

    <div class="container_header">
      <div class="inner-wrapper">
        <div class="menu_bar">
          <ul>
            <li>
              <a routerLink="/dashboard/home">Home</a> >
            </li>
            <li class="active">
              <a href="javascript:void(0)"> My plan </a>
            </li>
          </ul>
        </div>
        <div class="login_person">
          <h2>{{username}}</h2>
          <h5>
            <img src="assets/imgs/online-icon.png" alt="online"/>{{msisdn}}
            <img src="assets/imgs/down-arrow.png" alt="arrow"/>
          </h5>
        </div>
        <div class="clr"></div>
      </div>
    </div>

    <div *ngIf="switchPlan || showPayment || showPaymentPremium || showPaymentCustom" id="chosePlan">
      <button (click)="goBack()" type="button" class="btn" bgBlue>Go Back</button>
    </div>

    <ng-container *ngIf="switchPlan">
      <div class="inner-wrapper">
        <h2>Choose Your Plan</h2>
        <div class="plan-section">
          <div class="container">
            <div class="plansBoxes">

              <div class="plansBox-left">
                <div class="plansBoxInner" bgGray>
                  <div class="plansBoxHeader">
                    <h3 class="text-uppercase plansBoxTitle" bgBlue>Standard</h3>
                  </div>
                  <div class="plansBoxBody">
                    <div class="plansBoxPrice">
                      <span *ngIf="!standardPlan" class="plansBoxPriceText">5.99 $</span>
                      <span *ngIf="standardPlan" class="plansBoxPriceText">{{standardPlan.price|valueFormatter:'price'}} $</span>
                      <span class="plansBoxPriceText2">/mo</span></div>
                    <div class="list-group text-center">
                      <ng-container *ngIf="standardPlan">
                        <div class="list-group-item"
                             *ngFor="let item of standardPlan?.productDescription.replace('\r\n').split('|')">{{item}}
                        </div>
                      </ng-container>
                      <ng-container *ngIf="!standardPlan">
                        <div class="list-group-item">GB 10</div>
                        <div class="list-group-item">Minutes 1000</div>
                        <div class="list-group-item">SMS 1000</div>
                        <div class="list-group-item"><s>Roaming</s></div>
                        <div class="list-group-item"><s>Music</s></div>
                        <div class="list-group-item"><s>Video</s></div>
                      </ng-container>
                    </div>
                  </div>
                  <div class="plansBoxFooter" [hidden]="hideBuyOption">
                    <button class="btn btn-block" bgBlue (click)="confirmBuy('standard')">Buy</button>
                  </div>
                </div>
              </div>

              <div class="plansBox-left">
                <div class="plansBoxInner" bgGray>
                  <div class="plansBoxHeader">
                    <h3 class="text-uppercase plansBoxTitle" bgBlue>Premium</h3>
                  </div>
                  <div class="plansBoxBody">
                    <div class="plansBoxPrice">
                      <span *ngIf="!premiumPlan" class="plansBoxPriceText">10.99 $</span>
                      <span *ngIf="premiumPlan" class="plansBoxPriceText">{{premiumPlan?.price|valueFormatter:'price'}} $</span>
                      <span class="plansBoxPriceText2">/mo</span></div>
                    <div class="list-group text-center">
                      <ng-container *ngIf="!premiumPlan">
                        <div class="list-group-item">GB 50</div>
                        <div class="list-group-item">Unlimited Minutes</div>
                        <div class="list-group-item"> Unlimited SMS</div>
                        <div class="list-group-item"> Roaming</div>
                        <div class="list-group-item"> Music</div>
                        <div class="list-group-item"> Video</div>
                      </ng-container>
                      <ng-container *ngIf="premiumPlan">
                        <div class="list-group-item"
                             *ngFor="let item of premiumPlan?.productDescription?.replace('\r\n').split('|')">{{item}}
                        </div>
                      </ng-container>
                    </div>
                  </div>
                  <div class="plansBoxFooter"  [hidden]="hideBuyOption">
                    <button class="btn btn-block" bgBlue (click)="confirmBuyPremium('Premium')">Buy</button>
                  </div>
                </div>
              </div>

              <div class="plansBox-left right">
                <div class="plansBoxInner" bgGray>
                  <div class="plansBoxHeader">
                    <h3 class="text-uppercase plansBoxTitle" bgBlue>Custom</h3>
                  </div>
                  <div class="plansBoxBody">
                    <div class="plansBoxPrice"><span class="plansBoxPriceText">
                      {{getSumForCustom()|valueFormatter:'price'}}
                      $</span> <span
                      class="plansBoxPriceText2">/mo</span></div>
                    <div class="plansCustom_dataSlides">
                      <div class="plansCustom_dataSlides_slider plansCustom_dataSlides_sliderData">
                        <div class="plansCustom_dataSlides_sliderTitle">Data(Gb)</div>

                      </div>
                      <div class="ribbon">
                        <div class="flex-container">
                          <div class="numberDivCont" *ngFor="let item of dataPlans;let i = index"
                               [ngClass]="i===selectedDataPlanIndex?'active':''" (click)="selectCustomPlan('data',i)">
                            {{item.name}}
                          </div>
                        </div>
                      </div>
                      <div class="plansCustom_dataSlides_slider plansCustom_dataSlides_sliderSms">
                        <div class="plansCustom_dataSlides_sliderTitle">SMS</div>
                        <!-- <div class="plansCustom_dataSlides_sliderInner">
                           <div class="plansCustom_dataSlides_sliderItem">00</div>
                           <div class="plansCustom_dataSlides_sliderItem">10</div>
                           <div class="plansCustom_dataSlides_sliderItem">20</div>
                           </div>
                           <button name="prev"></button>
                           <button name="next"></button>-->
                      </div>
                      <div class="ribbon">
                        <div class="flex-container">
                          <div class="numberDivCont" *ngFor="let item of smsPlans;let i = index"
                               [ngClass]="i===selectedSmsPlanIndex?'active':''" (click)="selectCustomPlan('sms',i)">
                            {{item.name}}
                          </div>
                        </div>
                      </div>
                      <div class="plansCustom_dataSlides_slider plansCustom_dataSlides_sliderMinutes">
                        <div class="plansCustom_dataSlides_sliderTitle">Minutes</div>
                      </div>
                      <div class="ribbon">
                        <div class="flex-container">
                          <div class="numberDivCont" *ngFor="let item of voicePlans;let i = index"
                               [ngClass]="i===selectedVoicePlanIndex?'active':''" (click)="selectCustomPlan('voice',i)">
                            {{item.name}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="plansBoxFooter"  [hidden]="hideBuyOption">
                    <button (click)="confirmBuyCustom('custom')">Buy</button>
                  </div>
                </div>
              </div>

              <div class="clr"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="clr"></div>
    </ng-container>



    <!---------Show Payment  of standard Plan ----->
    <ng-container *ngIf="showPayment">
    <div class = "payment_form">
      <h1 style="text-align: center;">Payment Form</h1>
    <div class="commonModal_card">
      <div class="slect-mod">
        <div class="paymentOptionTabWrap row">
          <div class="col-sm-4">
            <div class="mode-menu">
              <ul class="nav nav-tabs" id="paymentOptionTab" role="tablist">
                <li id="creditCardTabColor"><a href="#" id="#debitCardTab" data-toggle="tab" role="tab" aria-controls="debitCard">Credit Balance</a></li>
                <li id="creditCardTabColor"><a class="active" href="#creditCard" id="creditCardTab" data-toggle="tab" role="tab" aria-controls="creditCard" aria-selected="true">Credit Card</a></li>
                <li id="creditCardTabColor"><a href="#debitCard" id="#debitCardTab" data-toggle="tab" role="tab" aria-controls="debitCard">Debit Card</a></li>
                <li id="creditCardTabColor"><a href="#" id="#debitCardTab" data-toggle="tab" role="tab" aria-controls="debitCard">Paypal</a></li>
                <li id="creditCardTabColor"><a href="#" id="#debitCardTab" data-toggle="tab" role="tab" aria-controls="debitCard">Voucher</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="row">
              <div class="mode-right tab-content" id="paymentOptionTabContent">
                <div id="creditCard" class="tab-pane fade show active" role="tabpanel" aria-labelledby="creditCardTab">
                  <app-payment-form></app-payment-form>
                </div>
                <div id="debitCard" class="tab-pane fade" role="tabpanel" aria-labelledby="debitCardTab">
                  <app-payment-form [cardType]="'Debit Card'"></app-payment-form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clr"></div>
      </div>
    </div>
    <div class="commonModal_buttons">
      <button type="button" class="price-add" (click)="goBack()">Cancel
      </button> &nbsp;
      <button type="button" class="price-add" [disabled]="activeDataSet == 0" (click)="confirmBuyPlan('standard')">Pay Now
      </button>
    </div>
    <div class="hidden" style="visibility: hidden;"> Hidden</div>

  </div>

    </ng-container>


    <!---------Show Payment  of Premium Plan ----->
    <ng-container *ngIf="showPaymentPremium">
    <div class = "payment_form">
      <h1 style="text-align: center;">Payment Form</h1>
    <div class="commonModal_card">
      <div class="slect-mod">
        <div class="paymentOptionTabWrap row">
          <div class="col-sm-4">
            <div class="mode-menu">
              <ul class="nav nav-tabs" id="paymentOptionTab" role="tablist">
                <li id="creditCardTabColor"><a href="#" id="#debitCardTab" data-toggle="tab" role="tab" aria-controls="debitCard">Credit Balance</a></li>
                <li id="creditCardTabColor"><a class="active" href="#creditCard" id="creditCardTab" data-toggle="tab" role="tab" aria-controls="creditCard" aria-selected="true">Credit Card</a></li>
                <li id="creditCardTabColor"><a href="#debitCard" id="#debitCardTab" data-toggle="tab" role="tab" aria-controls="debitCard">Debit Card</a></li>
                <li id="creditCardTabColor"><a href="#" id="#debitCardTab" data-toggle="tab" role="tab" aria-controls="debitCard">Paypal</a></li>
                <li id="creditCardTabColor"><a href="#" id="#debitCardTab" data-toggle="tab" role="tab" aria-controls="debitCard">Voucher</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="row">
              <div class="mode-right tab-content" id="paymentOptionTabContent" >
                <div id="creditCard" class="tab-pane fade show active" role="tabpanel" aria-labelledby="creditCardTab">
                  <app-payment-form></app-payment-form>
                </div>
                <div id="debitCard" class="tab-pane fade" role="tabpanel" aria-labelledby="debitCardTab">
                  <app-payment-form [cardType]="'Debit Card'"></app-payment-form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clr"></div>
      </div>
    </div>
    <div class="commonModal_buttons">
      <button type="button" class="price-add" (click)="goBack()">Cancel
      </button> &nbsp;
      <button type="button" class="price-add" [disabled]="activeDataSet == 0" (click)="confirmBuyPlan('premium')">Pay Now
      </button>
    </div>
    <div class="hidden" style="visibility: hidden;"> Hidden</div>

  </div>
    </ng-container>



<!---------Show Payment  of custom Plan ----->
    <ng-container *ngIf="showPaymentCustom">
    <div class = "payment_form">
      <h1 style="text-align: center;">Payment Form</h1>
    <div class="commonModal_card">
      <div class="slect-mod">
        <div class="paymentOptionTabWrap row">
          <div class="col-sm-4">
            <div class="mode-menu">
              <ul class="nav nav-tabs" id="paymentOptionTab" role="tablist">
                <li id="creditCardTabColor"><a href="#" id="#debitCardTab" data-toggle="tab" role="tab" aria-controls="debitCard">Credit Balance</a></li>
                <li id="creditCardTabColor"><a class="active" href="#creditCard" id="creditCardTab" data-toggle="tab" role="tab" aria-controls="creditCard" aria-selected="true">Credit Card</a></li>
                <li id="creditCardTabColor"><a href="#debitCard" id="#debitCardTab" data-toggle="tab" role="tab" aria-controls="debitCard">Debit Card</a></li>
                <li id="creditCardTabColor"><a href="#" id="#debitCardTab" data-toggle="tab" role="tab" aria-controls="debitCard">Paypal</a></li>
                <li id="creditCardTabColor"><a href="#" id="#debitCardTab" data-toggle="tab" role="tab" aria-controls="debitCard">Voucher</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="row">
              <div class="mode-right tab-content" id="paymentOptionTabContent">
                <div id="creditCard" class="tab-pane fade show active" role="tabpanel" aria-labelledby="creditCardTab">
                  <app-payment-form></app-payment-form>
                </div>
                <div id="debitCard" class="tab-pane fade" role="tabpanel" aria-labelledby="debitCardTab">
                  <app-payment-form [cardType]="'Debit Card'"></app-payment-form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clr"></div>
      </div>
    </div>
    <div class="commonModal_buttons">
      <button type="button" class="price-add" (click)="goBack()">Cancel
      </button> &nbsp;
      <button type="button" class="price-add" [disabled]="activeDataSet == 0" (click)="confirmBuyPlan('custom')">Pay Now
      </button>
    </div>
    <div class="hidden" style="visibility: hidden;"> Hidden</div>
  </div>
    </ng-container>


    <div *ngIf="!switchPlan && !showPayment && !showPaymentPremium && !showPaymentCustom" class="inner-wrapper">
      <div class="plan-detail">
        <div class="plan-detail-lft">
          <div class="plan-del-1">
            <h3>
              {{currentPlan?.productGroup.substring(0, 1).toUpperCase() + currentPlan?.productGroup.substring(1)}}
              <img style="cursor: pointer" src="assets/imgs/double-arrow.png" alt="img" (click)="showPlans()"
                   title="Switch plan"/>
            </h3>
            <h4>{{currentPlan?.price|valueFormatter:'price'}} $
              <span>/month</span>
            </h4>
            <h5>{{currentPlan?.expiryDate|dateDiff}}
              <span>Days Left</span>
            </h5>
          </div>
          <div class="plan-del-2">
            <ul>
              <li *ngFor="let item of planFeatures1">
                <span>{{item}}</span>
              </li>
            </ul>
          </div>
          <div class="plan-del-3">
            <ul>
              <li *ngFor="let item of planFeatures2">
                <span>{{item}}</span>
              </li>

            </ul>
          </div>
          <div class="clr"></div>
        </div>
        <div class="plan-detail-rht">
          <h3>Recharge for Other</h3>
          <form [formGroup]="rechargeForm" novalidate autocomplete="off">
            <div class="other-filed">
              <label>MSISDN Number</label>
              <input name="text" placeholder="Enter msisdn" type="text" formControlName="msisdn">
              <input name="text" placeholder="Enter amount" type="text" formControlName="quota">
              <button type="submit" data-toggle="modal" data-target="#addData" (click)="currentAddForm = 'recharge'" [disabled]="rechargeForm.status.toLowerCase() === 'invalid' ">Recharge</button>
            </div>
          </form>
        </div>
        <div class="clr"></div>
      </div>
      <div class="add-ons-2">
        <div class="add-ons-inner">
          <a data-toggle="collapse" href="#accordion1">
            <h3>Add Ons</h3>
            <span class="accordion_tglIcon">
              <i class="fa fa-minus"></i>
            </span>
          </a>
        </div>
        <div id="accordion1" class="collapse show">
          <div class="accordion-2">
            <ng-container *ngIf="useraddons && useraddons.length > 0; else nouseraddon;">
              <ul>
                <li *ngFor="let item of useraddons;let i = index" class="active" (click)="confirmRemoveAddon(i)">
                  {{item.productName}}
                </li>
              </ul>

            </ng-container>
            <ng-template #nouseraddon>
              <p>You have not subscribed any addon yet.</p>
            </ng-template>
          </div>
          <div class="accordion-3">
            <ng-container *ngIf="availableAddons && availableAddons.length > 0;else noavailableaddons">
              <ul>
                <li *ngFor="let item of availableAddons;let i = index" (click)="confirmAddAddon(i)">
                  {{item.productName}} (${{item.price|valueFormatter:'price'}})
                </li>
              </ul>
            </ng-container>
            <ng-template #noavailableaddons>
              <p>Addons not available</p>
            </ng-template>
          </div>
          <div class="clr"></div>
        </div>
      </div>
      <div class="add-ons-2">
        <div class="add-ons-inner">
          <a data-toggle="collapse" href="#accordion2">
            <h3>Manage SIM</h3>
            <span class="accordion_tglIcon">
                <i class="fa fa-minus"></i>
              </span>
          </a>
        </div>
        <div id="accordion2" class="collapse show">
          <div class="sim-box-cover">
            <div class="add-sim">
              <h4>Suspend SIM</h4>
              <div class="sim-box">
                <label>MSISDN Number</label>
                <input name="text" placeholder="Enter msisdn" type="number" [(ngModel)]="suspendSim">
                <button (click)="suspendSimAction()">Suspend</button>
              </div>
            </div>
            <div class="add-sim-2">
              <h4>Add Subscription</h4>

              <div class="sim-box">
                <div class="sm-lft">
                  <label>MSISDN Number</label>
                  <select>
                    <option value="">Select msisdn</option>
                    <option *ngFor="let item of inventory | slice:0:5" [value]="item">{{item}}</option>
                  </select>
                  <select placeholder="select " style="margin-top: 10px;">
                    <option value="">Select plan</option>
                    <option value="standard">Standard</option>
                    <option value="premium">Premium</option>
                    <option value="custom">Custom</option>
                  </select>
                  <span style="padding: 5px;cursor: pointer;" (click)="showSubscriptionPlans()">
                    <i class="fa fa-question-circle"></i>
                  </span>
                  <button>Add</button>
                </div>
                <div class="clr"></div>
              </div>
            </div>
            <div class="add-sim-3">
              <h4>Add SIM</h4>
              <div class="sim-box">
                <label>MSISDN Number</label>
                <input name="text" placeholder="Enter msisdn" type="number" [(ngModel)]="addSim">
                <button (click)="simAdded()">Add</button>
              </div>
            </div>
            <div class="clr"></div>
          </div>
        </div>
      </div>
      <div class="add-ons-2 ext-sp">
        <div class="add-ons-inner">
          <a data-toggle="collapse" href="#accordion3">
            <h3>Friends and Famliy</h3>
            <span class="accordion_tglIcon">
                <i class="fa fa-minus"></i>
              </span>
          </a>
        </div>
        <div id="accordion3" class="collapse show">
          <div class="sim-box-cover">
            <div class="fm-an">
              <form action="" [formGroup]="formGroup" novalidate autocomplete="off" (ngSubmit)="addFAF()">
                <!--<input name="text" placeholder="Name" type="text">-->
                <!--<label>MSISDN Number</label>-->
                <input name="text" placeholder="MSISDN" type="number" formControlName="msisdn">
                <button type="submit" [disabled]="formGroup.status.toLowerCase()==='invalid'">Add</button>
              </form>
            </div>
            <div class="fm-box" *ngFor="let item of FAFmsisdns">
              <div class="close-fm" (click)="removeFAF(item)">
                <img src="assets/imgs/icon-red.png" alt="img" style="cursor: pointer"/>
              </div>
              <!--<h5>Akriti Sharma</h5>-->
              <h6>{{item}}</h6>
            </div>
            <div class="clr"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="clr"></div>
  </div>
</div>

<!--Modal for recharge-->

<div class="modal fade" id="addData" tabindex="-1" role="dialog" aria-labelledby="addDataLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body popup-box">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <!--<app-common-add-modal [type]="currentAddForm"></app-common-add-modal>-->
          <div class="">
            <h3>Recharge</h3>
              <div class="all-price" style="margin: 110px auto 0px">
                <div class="commonModal_card">
                  <div class="slect-mod">
                    <div class="paymentOptionTabWrap row">
                      <div class="col-sm-4">
                        <div class="mode-menu">
                          <ul class="nav nav-tabs" id="paymentOptionTab" role="tablist">
                            <li><a href="#" id="#debitCardTab" data-toggle="tab" role="tab" aria-controls="debitCard">Credit Balance</a></li>
                            <li><a class="active" href="#creditCard" id="creditCardTab" data-toggle="tab" role="tab" aria-controls="creditCard" aria-selected="true">Credit Card</a></li>
                            <li><a href="#debitCard" id="#debitCardTab" data-toggle="tab" role="tab" aria-controls="debitCard">Debit Card</a></li>
                            <li><a href="#" id="#debitCardTab" data-toggle="tab" role="tab" aria-controls="debitCard">Paypal</a></li>
                            <li><a href="#" id="#debitCardTab" data-toggle="tab" role="tab" aria-controls="debitCard">Voucher</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-sm-8">
                        <div class="row">
                          <div class="mode-right tab-content" id="paymentOptionTabContent">
                            <div id="creditCard" class="tab-pane fade show active" role="tabpanel" aria-labelledby="creditCardTab">
                              <app-payment-form></app-payment-form>
                            </div>
                            <div id="debitCard" class="tab-pane fade" role="tabpanel" aria-labelledby="debitCardTab">
                              <app-payment-form [cardType]="'Debit Card'"></app-payment-form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="clr"></div>
                  </div>
                </div>
                <div class="commonModal_buttons">
                  <button type="button" class="price-add" data-dismiss="modal">Back
                   </button> &nbsp;
                   <button type="button" class="price-add" data-dismiss="modal" (click)="recharge()">Add
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
