.plan-detail-lft{
  .plan-del-1{
    margin-right:30px;
  }
  .plan-del-2, .plan-del-3{
    padding: 0 0 0 20px;
    li{
      margin-bottom: 8px;
    }
  }
}
.other-filed{
  label{
    margin-right: 5px;
  }
}


.commonModal_card{
  display: flex;
  .bnk-left{
    text-align: left;
  }
}
.commonModal_buttons{
  display: block;
  text-align:  center;
}

.mode-right, .mode-menu{
  float: none;
  width: 100%;
}

.paymentOptionTabWrap {
  text-align: left;
}

.payment_form{
  margin-bottom : 50px;  
}


