<div class="data-usage">
  <div class="data-title">
    <h3>{{currentTitle}}</h3>
  </div>
  <div class="data-graph">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            [colors]="colors"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>

  </div>
  <div class="data-year">
    <select id="year" name="year" (change)="generateData()">
      <option value="year">Year 2014</option>
      <option value="Year">Year 2015</option>
      <option value="Year">Year 2016</option>
      <option value="Year">Year 2017</option>
      <option value="Year" selected="selected">Year 2018</option>
    </select>
  </div>
  <div class="clr"></div>
</div>
<div class="card-deck">
  <div class="card" *ngIf="type != 3">
    <div class="limit-box">
      <h3>Set Limit</h3>
      <div class="limit-inner">
        <div class="limit-box-left">
          <div class="limit-box-left_field">
            <input class="check" type="checkbox" name="limit" value="limit">
            <label>Set {{lowLevelTitleSet[type]}} Limit</label>
          </div>
          <div class="limit-box-left_field">
            <input type="text" name="data" value="600">
            <select id="size" name="size">
              <option value="data">MB</option>
              <option value="data">MB</option>
              <option value="data">MB</option>
            </select>
          </div>
          <div class="limit-box-left_field">
            <select id="date" name="date">
              <option value="date">June 6 - July 5</option>
              <option value="date">June 6 - July 5</option>
              <option value="date">June 6 - July 5</option>
            </select>
          </div>
        </div>
        <div class="limit-img">
          <img src="assets/imgs/limit.jpg" alt="img"/>
        </div>
        <div class="clr"></div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="data-tr">
      <h3>{{lowLevelTitleSet[type]}} Transferred</h3>
      <div class="data-tr-inner">
        <p *ngIf="transfer.length === 0">History not available</p>
        <div class="transfer-dat" *ngFor="let item of transfer">
          <div class="dat-lef">
            <h4>
              <img src="assets/imgs/data-trans.png" alt="img"/>
              <ng-container [ngSwitch]="type">
                <ng-container *ngSwitchCase="0">
                  {{item.transferQuota[getTypesString(type)] | valueFormatter:'mb-gb'}}
                  <span>GB</span>
                </ng-container>
                <ng-container *ngSwitchCase="1">
                  {{item.transferQuota[getTypesString(type)] | valueFormatter:'voice'}}
                  <span>min</span>
                </ng-container>
                <ng-container *ngSwitchCase="2">
                  {{item.transferQuota[getTypesString(type)] | valueFormatter:'sms'}}
                  <!--<span>min</span>-->
                </ng-container>
                <ng-container *ngSwitchCase="3">
                  {{item.transferQuota[getTypesString(type)] | valueFormatter:'price'}}
                  <span>$</span>
                </ng-container>
              </ng-container>
            </h4>
            <h5>{{item.transferDate}}</h5>
          </div>
          <div class="dat-rht">
            <h4 *ngIf="msisdn === item.benmsisdn">
              {{item.msisdn}}
              <!--<br> +46 123 123 123-->
            </h4>
            <h4 *ngIf="msisdn !== item.benmsisdn">
                {{item.benmsisdn}}
                <!--<br> +46 123 123 123-->
              </h4>
            <h5>Expiring in
              <span>{{item.expiryDate|dateDiff}}</span> days</h5>
          </div>
          <div class="clr"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card-deck">
  <div class="card">
    <div class="limit-box">
      <h3>{{lowLevelTitleSet[type]}} Added</h3>
      <div class="added-data">
        <p *ngIf="added.length === 0">History not available</p>
        <div class="transfer-dat" *ngFor="let item of added">

          <div class="dat-lef">
            <h4>
              <img src="assets/imgs/pl-blue.png" alt="img"/>
              <ng-container [ngSwitch]="type">
                <ng-container *ngSwitchCase="0">
                  {{item?.provisionedQuota[getTypesString(type)].unit | valueFormatter:'data'}}
                  <span>GB</span>
                </ng-container>
                <ng-container *ngSwitchCase="1">
                  {{item?.provisionedQuota[getTypesString(type)].unit | valueFormatter:'voice'}}
                  <span>min</span>
                </ng-container>
                <ng-container *ngSwitchCase="2">
                  {{item?.provisionedQuota[getTypesString(type)].unit | valueFormatter:'sms'}}
                  <!--<span>min</span>-->
                </ng-container>
                <ng-container *ngSwitchCase="3">
                  {{item?.quota.credit | valueFormatter:'price'}}
                  <span>$</span>
                </ng-container>
              </ng-container>
            </h4>
          </div>
          <div class="dat-rht">
            <h4>{{ type === 3 ?item?.balanceTxnDate : item?.expiryDate}}</h4>
          </div>
          <div class="clr"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="card" *ngIf="type != 3">
    <div class="data-tr">
      <h3>{{lowLevelTitleSet[type]}} Share</h3>
      <div class="data-tr-inner">
        <p *ngIf="shared.length === 0">History not available</p>
        <div class="transfer-dat" *ngFor="let item of shared">
          <div class="dat-lef">
            <h4>
              <img src="assets/imgs/pl-blue.png" alt="img"/>
              <ng-container [ngSwitch]="type">
                <ng-container *ngSwitchCase="0">
                  {{item.sharedQuota[getTypesString(type)] | valueFormatter:'mb-gb'}}
                  <span>GB</span>
                </ng-container>
                <ng-container *ngSwitchCase="1">
                  {{item.sharedQuota[getTypesString(type)]| valueFormatter:'voice'}}
                  <span>min</span>
                </ng-container>
                <ng-container *ngSwitchCase="2">
                  {{item.sharedQuota[getTypesString(type)] | valueFormatter:'sms'}}
                  <!--<span>min</span>-->
                </ng-container>
                <ng-container *ngSwitchCase="3">
                  {{item.sharedQuota[getTypesString(type)] | valueFormatter:'price'}}
                  <span>$</span>
                </ng-container>
              </ng-container>
            </h4>
            <h5>{{item.expiryDate}}</h5>
          </div>
          <div class="dat-rht">
            <h4>{{item.msisdn}}
              <!--<br> +46 123 123 123-->
            </h4>
            <h5>Expiring in
              <span>{{currentPlan?.expiryDate|dateDiff}}</span> days</h5>
          </div>
          <div class="clr"></div>
        </div>
      </div>
    </div>
  </div>
</div>
