<div id="wrapper">
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" bgGray>
    <a class="navbar-brand" href="#banner">
      <img src="assets/imgs/dxp-logo.png" style="margin-left:40px;width:95px; height:45px" alt="dxp" title="Selfcare">
    </a>
    <span></span>
    <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse"
            data-target="#navb" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navb">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#plansSec">Plans</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#offersSec">Offers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#supportSec">Support</a>
        </li>
        <li class="nav-item hdr_formItem">
          <form class="form-inline hdr_searchForm">
            <input class="form-control mr-sm-2" type="text" placeholder="What are you looking for?">
            <button class="btn my-sm-0 hdr_searchIcon" type="button"></button>
          </form>
        </li>
      </ul>
      <ul class="nav  navbar-right">
        <li class="nav-item ">
          <a href="javascript:void(0)" class="dropdown-item" data-toggle="modal" data-target="#loginForm">Login</a>
        </li>
        <li class="nav-item ">
          <a href="javascript:void(0)" class="dropdown-item" data-toggle="modal" data-target="#Register">Register</a>
        </li>
      </ul>
    </div>
  </nav>
  <section class="banner" id="banner">
    <div class="bannerContent">
      <div id="banner_slider" class="carousel slide" data-ride="carousel">
        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h3>Self care is the best care</h3>
            <p>Your single window for all Services, Products and a lot more...</p>
            <p>Selfcare gives the Power in your hands to decide to way to your Digital Life.</p>
          </div>
          <div class="carousel-item">
            <h3>Self care is the best care</h3>
            <p>Your single window for all Services, Products and a lot more...</p>
            <p>Selfcare gives the Power in your hands to decide to way to your Digital Life.</p>
          </div>
          <div class="carousel-item">
            <h3>Self care is the best care</h3>
            <p>Your single window for all Services, Products and a lot more...</p>
            <p>Selfcare gives the Power in your hands to decide to way to your Digital Life.</p>
          </div>
        </div>
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#banner_slider" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#banner_slider" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
      <!-- <div class="banner_barcode">
           <p class="text-uppercase"><strong>Become a customer</strong></p>
           <img class="img-fluid" src=Register"assets/imgs/barcode.png" alt="">
           </div> -->
      <div id="phone" class="d-none d-lg-block">
        <img src="assets/imgs/phone.png"/>
      </div>
    </div>
  </section>
  <section class="loginSec container-fluid" bgGray>
    <div class="row">
      <div class="col-sm-12 loginSec_rechargeCol">
        <form class="form-inline" [formGroup]="quickRechargeForm" novalidate autocomplete="off"
              (ngSubmit)="quickRecharge()">
          <div class="form-group">
            <label for="phone" class="sr-only">Phone</label>
            <input bxShadow type="tel" class="form-control" name="phone" placeholder="Phone No."
                   formControlName="msisdn">
          </div>
          <div class="form-group">
            <label for="amount" class="sr-only">Amount</label>
            <input bxShadow type="text" class="form-control" name="amount" placeholder="Amount" formControlName="quota">
          </div>
          <button type="submit" class="btn btn-sm" bgNavy
                  [disabled]="quickRechargeForm.status.toLowerCase()==='invalid'">Quick Recharge
          </button>
        </form>
      </div>
    </div>
  </section>
  <section class="plansSec" id="plansSec">
    <div class="container">
      <h2 class="blockTitle text-uppercase text-center">Plans</h2>
      <p class="text-center">Selfcare application suite is a combination of self-care mobile application as well web
        portal.</p>
      <div class="row plansBoxes">
        <div class="col-md-4 plansBox plansBoxStandard">
          <div class="plansBoxInner" bgGray>
            <div class="plansBoxHeader">
              <h3 class="text-uppercase plansBoxTitle" bgBlue>Standard</h3>
            </div>
            <div class="plansBoxBody">
              <div class="plansBoxPrice">
                <span class="plansBoxPriceText">{{standardPlanOffer?.price|valueFormatter:'price'}} $</span>
                <span class="plansBoxPriceText2">/mo</span>
              </div>
              <div class="list-group text-center">
                <div class="list-group-item"
                     *ngFor="let item of standardPlanOffer?.productDescription.replace('\r\n','').split('|')">{{item}}
                </div>
              </div>
            </div>
            <div class="plansBoxFooter">
              <button class="btn btn-block" (click)="openRoute('onboard/device');setOnboardBar('standard')" >Buy</button>
            </div>
          </div>
        </div>
        <div class="col-md-4 plansBox plansBoxPremium">
          <div class="plansBoxInner" bgGray>
            <div class="plansBoxHeader">
              <h3 class="text-uppercase plansBoxTitle" bgBlue>Premium</h3>
            </div>
            <div class="plansBoxBody">
              <div class="plansBoxPrice">
                <span class="plansBoxPriceText">{{premiumPlanOffer?.price/100}} $</span>
                <span class="plansBoxPriceText2">/mo</span>
              </div>
              <div class="list-group text-center">
                <div class="list-group-item"
                     *ngFor="let item of premiumPlanOffer?.productDescription.replace('\r\n','').split('|')">{{item}}
                </div>
              </div>
            </div>
            <div class="plansBoxFooter">
              <button class="btn btn-block" (click)="openRoute('onboard/device');setOnboardBar('premium')">Buy</button>
            </div>
          </div>
        </div>
        <div class="col-md-4 plansBox plansBoxCustom">
          <div class="plansBoxInner" bgGray>
            <div class="plansBoxHeader">
              <h3 class="text-uppercase plansBoxTitle" bgBlue>Custom</h3>
            </div>
            <div class="plansBoxBody">
              <div class="plansBoxPrice">
                <span class="plansBoxPriceText">{{getSumForCustom()|valueFormatter:'price'}} $</span>
                <span class="plansBoxPriceText2">/mo</span>
              </div>
              <div class="plansCustom_dataSlides">
                <div class="plansCustom_dataSlides_slider plansCustom_dataSlides_sliderData">
                  <div class="plansCustom_dataSlides_sliderTitle">Data(Gb)</div>
                </div>
                <div class="ribbon">
                  <div class="flex-container">
                    <div class="numberDivCont" *ngFor="let item of dataPlans;let i = index"
                         [ngClass]="i===selectedDataPlanIndex?'active':''" (click)="selectCustomPlan('data',i)">
                      {{item.name}}
                    </div>
                  </div>
                </div>
                <div class="plansCustom_dataSlides_slider plansCustom_dataSlides_sliderSms">
                  <div class="plansCustom_dataSlides_sliderTitle">SMS</div>
                </div>
                <div class="ribbon">
                  <div class="flex-container">
                    <div class="numberDivCont" *ngFor="let item of smsPlans;let i = index"
                         [ngClass]="i===selectedSmsPlanIndex?'active':''" (click)="selectCustomPlan('sms',i)">
                      {{item.name}}
                    </div>
                  </div>
                </div>
                <div class="plansCustom_dataSlides_slider plansCustom_dataSlides_sliderMinutes">
                  <div class="plansCustom_dataSlides_sliderTitle">Minutes</div>
                  <!--<div class="plansCustom_dataSlides_sliderInner">
                 <div class="plansCustom_dataSlides_sliderItem">100</div>
                 <div class="plansCustom_dataSlides_sliderItem">150</div>
                 <div class="plansCustom_dataSlides_sliderItem">200</div>
                 </div>
                 <button name="prev"></button>
                 <button name="next"></button>-->
                </div>
                <div class="ribbon">
                  <div class="flex-container">
                    <div class="numberDivCont" *ngFor="let item of voicePlans;let i = index"
                         [ngClass]="i===selectedVoicePlanIndex?'active':''" (click)="selectCustomPlan('voice',i)">
                      {{item.name}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="plansBoxFooter">
              <button class="btn btn-block" (click)="openRoute('onboard/device');setOnboardBar('custom')">Buy</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="offersSec" id="offersSec">
    <div class="container">
      <h2 class="blockTitle text-uppercase text-center">Offers</h2>
      <p class="text-center">
        Selfcare application suite is a combination of self-care mobile application as well web portal. The mobile
        application basically
        targets the operator customers and gives them detail of the services used by them. The web portal would have
        the same features as mobile application and user can avail facilities of the self-care application.
      </p>
      <div class="offersSec_banner text-center">
        <img class="img-fluid" src="assets/imgs/offersBanner.jpg" alt="">
      </div>
    </div>
  </section>
  <section class="supportSec" id="supportSec" bgNavy>
    <div class="container">
      <div class="supportSecDes text-center">
        Do you have any questions?
        <br> We are happy to hear from you.
      </div>
      <div class="row supportSec_contact">
        <div class="col-sm-7">
          <div class="supportSec_item supportSec_mail">
            <a href="mailto:info@selfcaredigital" target="_top">info@selfcare</a>
          </div>
          <div class="supportSec_item supportSec_tel">+46 104 632 525</div>
        </div>
        <div class="col-sm-5">
          <div class="supportSec_item supportSec_locate">Locate us</div>
          <div class="supportSec_item supportSec_talk">Talk to us !</div>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer container-fluid navbar-light navbar-expand-sm">
    <div class="row">
      <div class="col-md-4">
        <span>&copy; Ericsson AB 2018</span>
      </div>
      <div class="col-md-8">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">Licence Agreement</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">Modern Slavery Statement</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">Cookies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">Legal</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</div>


<!-- Modal -->
<div class="modal fade " id="Register" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content pop_up">
      <div class="modal-header">
        <h4 class="modal-title">Register</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6  left_title d-none d-md-block">
            <p class=" left_ttitles">Welcome to you Selfcare</p>
            <div class="img"><img src="assets/imgs/left_img.png"></div>
          </div>
          <div class="col-md-6  ">
            <form [formGroup]="registerFormModel" class="form_body" (ngSubmit)="registerUser()">
              <div class="form-group ">
                <label>MSISDN No.</label>
                <input type="text" class="form-control" placeholder="MSISDN"
                       formControlName="msisdn">
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group ">
                    <label>First name.</label>
                    <input type="text" class="form-control" placeholder="First Name"
                           formControlName="firstName">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group ">
                    <label>Last Name</label>
                    <input type="text" class="form-control" placeholder="Last Name"
                           formControlName="lastName">
                  </div>
                </div>
              </div>
              <!--<div class="form-group ">-->
                <!--<label>Phone Model</label>-->
                <!--<input type="text" class="form-control" placeholder="Phone Model"-->
                       <!--formControlName="phoneModel">-->
              <!--</div>-->
              <!--<div class="form-group ">-->
                <!--<label>Device OS</label>-->
                <!--<input type="text" class="form-control" placeholder="Device OS"-->
                       <!--formControlName="deviceOS">-->
              <!--</div>-->
              <!--<div class="form-group ">-->
                <!--<label>Registration Id</label>-->
                <!--<input type="text" class="form-control" placeholder="Registration Id"-->
                       <!--formControlName="registrationId">-->
              <!--</div>-->
              <div class="form-group ">
                <label>Email</label>
                <input type="text" class="form-control" placeholder="Email"
                       formControlName="email">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" formControlName="password"
                       placeholder="Password">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Re-Enter Password"
                       [formControl]="confirmPasswordModal">
              </div>
              <button type="submit" class="btn btn-default btn_cust"
                      [disabled]="!registerFormModel.valid"
              >Register
              </button>
              <span class="fa fa-refresh button_ref" aria-hidden="true"
                    (click)="registerFormModel.reset();confirmPasswordModal.reset()"
                    style="cursor: pointer"></span>
              <a href="javascript:void(0)" (click)="switchToRegister()" class="btn btn-link">Login</a>
            </form>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade " id="loginForm" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content pop_up">
      <div class="modal-header">

        <h4 class="modal-title">Login</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6   left_title  d-none d-md-block">
            <p class=" left_ttitles">Welcome to you Selfcare</p>
            <div class="img"><img src="assets/imgs/left_img.png"></div>
          </div>
          <div class="col-md-6 ">
            <form [formGroup]="loginForm" novalidate autocomplete="off" (ngSubmit)="doLogin()">
              <div class="form_body" action="home.html">
                <div class="form-group ">
                  <label>MSISDN No.</label>
                  <input type="tel" class="form-control" formControlName="loginName" placeholder="Enter MSISDN No.">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Password" formControlName="password">
                  <a href="javascript:void(0)" (click)="switchToForgot()">
                    <label style="cursor: pointer;color: #004d74;text-decoration: underline;">
                      Forgot your Password?
                    </label>
                  </a>
                  <span class="danger-text"></span>
                </div>
                <button type="submit" class="btn btn-default btn_cust"
                        [disabled]="loginForm.status.toLowerCase() === 'invalid'">Submit
                </button>
              </div>
            </form>
            <p>OR</p>
            <div class="social">
              <ul>
                <li><img src="assets/imgs/fb.png"></li>
                <li><img src="assets/imgs/google.png"></li>
              </ul>
            </div>
            <div class="clearfix"></div>
            <!--<p class="text-right">Lets join the fun, <a href="javascript:void(0)" data-dismiss="modal"-->
            <!--data-toggle="modal"-->
            <!--data-target="javascript:void(0)Register">Register Now</a></p>-->
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Forgot password Modal -->
<div class="modal fade " id="forgotPasswordForm" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content pop_up">
      <div class="modal-header">

        <h4 class="modal-title">Forgot Password</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6   left_title  d-none d-md-block">
            <p class=" left_ttitles">Welcome to you Selfcare</p>
            <div class="img"><img src="assets/imgs/left_img.png"></div>
          </div>
          <div class="col-md-6 ">
            <form [formGroup]="forgotPFormModel" novalidate autocomplete="off" (ngSubmit)="doLogin()">
              <div class="form_body" action="home.html">
                <div class="form-group " *ngIf="!isMsisdnEntered">
                  <label>MSISDN No.</label>
                  <input type="tel" class="form-control" formControlName="msisdn" placeholder="Enter MSISDN No.">
                </div>
                <div class="form-group " *ngIf="isMsisdnEntered">
                  <label>Enter One Time Password (OTP)</label>
                  <input type="tel" class="form-control" formControlName="otp" placeholder="Enter OTP">
                </div>
                <div class="form-group" *ngIf="isMsisdnEntered">
                  <input type="password" class="form-control" formControlName="password"
                         placeholder="Password">
                </div>
                <div class="form-group" *ngIf="isMsisdnEntered">
                  <input type="password" class="form-control" placeholder="Re-Enter Password"
                         [formControl]="confirmPasswordModal">
                </div>
                <button type="button" class="btn btn-default btn_cust"
                        *ngIf="!isMsisdnEntered"
                        (click)="isMsisdnEntered = true"
                        [disabled]="forgotPFormModel.controls['msisdn'].status.toLocaleLowerCase() === 'invalid'">Send
                  OTP
                </button>
                <button type="button" class="btn btn-default btn_cust" *ngIf="isMsisdnEntered"
                        [disabled]="forgotPFormModel.status.toLowerCase() === 'invalid'">Submit
                </button>
              </div>
            </form>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
